/*로딩바 ########################################################################*/
/*#allworkWrap{display:none;}*/
#progress_barWrap{display:none;width:100%;height:100%;background-color:#fff;position:absolute;top:10%;margin-top:-150px;left:0;z-index:1000;}
#progress_bar{width:300px;height:300px;margin:0 auto;}
#progress_bar img{width:100%;}


/* 사이드 메뉴 공통   ###############################################*/
#leftPart{width:200px;height:100%;float: left;}
#menuTree{width:198px;overflow: hidden;background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
#menuTree p{width: 198px;height:78px;line-height: 78px;text-align: center;border-bottom: 1px solid #ccc;}
#menuTree p a{display: block;width: 100%;height:100%;color:#4F60E3;}

    #menuTree p:hover{background-color: #F7FAFF;}

#menuTree ul{width:100%;overflow: hidden;padding:20px 0;}
#menuTree ul .gnb, #menuTree ul .menu{width:100%;line-height: 22px;text-indent:20px;padding-top:10px;padding-bottom: 10px;}
#menuTree ul .gnb a, #menuTree ul .menu a{font-size: 16px;}
#menuTree ul .subMenu{width:100%;text-indent:40px;padding-top:5px;}
#menuTree ul .subMenu li{width:100%;}
#menuTree ul .subMenu li a{color:#666;font-size:14px;}



/* 회사소개 사이드 메뉴   ###############################################*/
#intro_menuTree{width:200px;overflow: hidden;}
#intro_menuTree p{display:none;}

#intro_menuTree ul{width:100%;overflow: hidden;padding:20px 0;}
#intro_menuTree ul .menu{width:100%;line-height: 22px;text-indent:20px;padding-top:10px;padding-bottom: 10px;}
#intro_menuTree ul .menu a{font-size: 16px;}
#intro_menuTree ol .subMenu{width:100%;text-indent:40px;padding-top:5px;}
#intro_menuTree ol .subMenu a{color:#666;font-size:14px;}


/* 페이지 번호   ###############################################*/
.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:100%;height:24px;line-height:22px;margin-top:30px;text-align: center;}
.numArea li{display:inline-block;width:24px;height:24px;font-size:12px;border:1px solid #fff;}
.numArea li a{width:100%;height:100%;color:#ccc;}

        .numArea li:hover{border: 1px solid #ccc;}
        .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}

/* 페이지 번호   ###############################################*/
.intro_numareaWrap{width:100%;overflow: hidden;}
.intro_numArea{width:100%;height:24px;line-height:22px;margin-top:30px;text-align: center;}
.intro_numArea li{display:inline-block;width:24px;height:24px;font-size:12px;border:1px solid rgba(255,255,255,0);}
.intro_numArea li a{width:100%;height:100%;color:#ccc;}

        .intro_numArea li:hover{border: 1px solid #ccc;}
        .intro_numArea li:hover a{color:#666;}

.intro_numArea .p01{border: 1px solid #666;}
.intro_numArea .p01 a{color:#666;}
