body{background: #EDF0F5;font-family:"NotoSansKR-Regular";}
/*###################################   containerWrap  ###################################*/
#containerWrap{width:1000px;margin: 20px auto 100px;overflow: hidden;}

/*현재페이지 언더라인  ###################################*/
#menuTree ul .subMenu .subMenu01{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;margin-left:10px;float: left;}

/*###################################   part01/추천인재  ###################################*/
#part01{width:790px;overflow:hidden;margin-bottom:20px;}
#part01 ul.adPart{width:800px;height:100%;}
#part01 ul.adPart li{width:190px;height:190px;background-color: #fff;border: 1px solid #ccc;margin-right:9px;float: left;}
#part01 ul.adPart li a{display: block;width:100%;height:100%;overflow: hidden;}
#part01 ul.adPart li a div{width:190px;height:190px;padding:12px;}
#part01 ul.adPart li a div p{width:100%;font-size:20px;padding-bottom:5px;}
#part01 ul.adPart li a div .star{text-align: right;color:#eee;font-size:16px;}
#part01 ul.adPart li a div .desc01{font-size:14px;}
#part01 ul.adPart li a div .desc02{font-size:10px;color:#4F60E3;}
#part01 ul.adPart li a div .desc03{font-size:14px;height:44px;font-family:"NotoSansKR-Bold";overflow: hidden;text-overflow: ellipsis;}
#part01 ul.adPart li a div .desc04{font-size:10px;height:34px;color:#999;overflow: hidden;text-overflow: ellipsis;}

              #part01 ul li:hover{border: 1px solid #4F60E3;}

/*###################################   part02/검색  ###################################*/
#part02{width:790px;margin-top:10px;overflow: hidden;}
#part02 form{width:790px;height:70px;}
#part02 form fieldset{border:none;}
#part02 form fieldset legend{display: none;}
#part02 form fieldset div{width:100%;height:20px;margin-bottom:10px;}
#part02 form fieldset div input{width:16px;height:16px;}
#part02 form fieldset div label{font-size:14px;padding-left:10px;padding-right:20px;vertical-align:top;}
#part02 form fieldset p{float: left;width:230px;height:40px;background-color: #fff;border:1px solid #999;}
#part02 form fieldset p input{border:none;width:100%;height:100%;padding:10px;}
#part02 form fieldset p input::placeholder{color:#ccc;}
#part02 form fieldset p.btnBox{width:100px;height:40px;border:none;}
#part02 form fieldset p.btnBox input{width:100%;height:100%;background-color:#4F60E3;color:#fff;font-size:16px;}

/*###################################   part03/상세검색  ###################################*/
/*############  1열  ########################*/
#part03{width:790px;margin-top:10px;overflow: hidden;}

input{outline:none;}
#row01{width:790px;text-indent:20px;line-height:50px;background-color:#fff;border-top:1px solid #ccc;border-left:1px solid #ccc;float:left;}
#row01 .tab{width:100%;height:50px;background-color:#43425D;border-bottom:1px solid #ccc;}
#row01 .tab li{width:200px;height:100%;border-right:1px solid #ccc;float:left;}
#row01 .tab li a{display:block;width:100%;height:100%;color:#fff;}
#row01 .tab li:last-child{width:189px;}

#row01 .descArea{width:100%;height:200px;}
#row01 .descArea ul{width:200px;height:100%;border-right:1px solid #ccc;float:left;overflow:scroll;}
#row01 .descArea ul li{width:100%;height:30px;}
#row01 .descArea ul li input{display: block;width:200px;height:30px;line-height: 30px;border:none;background-color:#fff;
                             text-align:left;text-indent:20px;font-size:14px;}

            #row01 .descArea ul:last-child{width:189px;}
            #row01 .tab li:hover{background-color:#000;}

            #row01 .descArea ul li input:hover{color:#4F60E3;}
/*### 버튼 on
            #row01 .descArea ul li input.on{background-color:#eee;}*/

    /*###################################   상세검색_직무별  ###################################*/
      #row01_1{width:790px;overflow: hidden;text-indent:20px;line-height:50px;background-color:#fff;border:1px solid #ccc;}
      /*###################################   part03/상세검색 탭  ###################################*/
      /*#####  1열 상세검색 안보이게  #####*/
      #row01_1 .tab{display:none;}
      #row01_1 .tab{width:100%;height:50px;}
      #row01_1 .tab li{width:200px;height:50px;border-right:1px solid #ccc;float:left;background-color:#ddd;border-bottom:2px solid #000;}
                /* 직무별 탭 활성화 */#row01_1 .tab li:first-child{background-color:#000;}
                                  #row01_1 .tab li:last-child{width:188px;}
      #row01_1 .tab a{display:block;width:100%;height:100%;color:#fff;}


                      /*###################################   서브항목 레이어  cateOn   ###################################*/
                      #row01_1 #cateOn{display:none;}
                      #cateOn{width:790px;height:288px;float:left;background-color:#fff;}
                      #cateOn ul{width:200px;height:100%;border-right:1px solid #ccc;float:left;overflow:scroll;}
                      #cateOn ul li{width:100%;height:30px;}
                      #cateOn ul li input{display: block;width:100%;height:30px;line-height: 30px;border:none;background-color:#fff;
                                                   text-align:left;text-indent:20px;font-size:14px;}

                      #cateOn .select03{width:388px;}
                      #cateOn .select03 li{width:129px;float:left;}

                      /*### 버튼 on
                      #recruitment #rec_row01 div ul li input.on{background-color:#eee;color:#4F60E3;}
/*############  2열  ########################*/

#row02{width:790px;text-indent:20px;line-height:50px;background-color:#fff;border-top:1px solid #ccc;border-left:1px solid #ccc;float:left;}
#row02 .tab{width:100%;height:50px;background-color:#43425D;border-bottom:1px solid #ccc;}
#row02 .tab li{width:200px;height:100%;border-right:1px solid #ccc;float:left;}
#row02 .tab li a{display:block;width:100%;height:100%;color:#fff;}
#row02 .tab li:last-child{width:189px;}

#row02 .descArea{width:100%;height:200px;}
#row02 .descArea ul{width:200px;height:100%;border-right:1px solid #ccc;float:left;overflow:scroll;}
#row02 .descArea ul li{width:100%;height:30px;}
#row02 .descArea ul li input{display: block;width: 100%;height:30px;line-height: 30px;border:none;background-color:#fff;
                            text-align:left;text-indent:20px;font-size:14px;}

            #row02 .descArea ul:last-child{width:189px;}
            #row02 .tab li:hover{background-color:#000;}
            #row02 .tab li:last-child:hover{background-color:#eee;}
/*#####  2열 안보이게  #####*/ #row02 .descArea{display:none;}
/*###################################   상세검색_직무별  ###################################*/
  #row02_1{width:790px;overflow: hidden;text-indent:20px;line-height:50px;background-color:#fff;border:1px solid #ccc;}
  /*###################################   part03/상세검색 탭  ###################################*/
  #row02_1 .tab{display:none;}
  #row02_1 .tab{width:100%;height:50px;}
  #row02_1 .tab li{width:200px;height:50px;border-right:1px solid #ccc;float:left;background-color:#ddd;border-bottom:2px solid #000;}
            /* 직무별 탭 활성화 */#row02_1 .tab li:first-child{background-color:#000;}
                              #row02_1 .tab li:last-child{width:188px;}
  #row02_1 .tab a{display:block;width:100%;height:100%;color:#fff;}


          /*###################################   서브항목 레이어  cateOn   ###################################*/
          #row02_1 #cateOn{display:none;}
          #cateOn{width:790px;height:200px;float:left;background-color:#fff;}
          #cateOn ul{width:200px;height:100%;border-right:1px solid #ccc;float:left;overflow:scroll;}
          #cateOn ul li{width:100%;height:30px;}
          #cateOn ul li input{display: block;width:100%;height:30px;line-height: 30px;border:none;background-color:#fff;
                                       text-align:left;text-indent:20px;font-size:14px;}

          #cateOn .select03{width:389px;}
          #cateOn .select03 li{width:129px;float:left;}

          /*### 버튼 on
          #recruitment #rec_row01 div ul li input.on{background-color:#eee;color:#4F60E3;}

/*###################################   상세검색버튼 searchBox   ###################################*/
#searchBox{width:790px;padding:20px;overflow: hidden;border:1px solid #ccc;background-color:#fff;}
#searchBox p{float:left;line-height:30px;}
#searchBox p.keywords{width:540px;overflow:hidden;}
#searchBox p.keywords span{display:inline-block;height:30px;line-height:30px;padding-right:10px;}
#searchBox p.keywords .fa-times{margin-left:2px;vertical-align: middle;font-size:12px;color:#666;}
#searchBox p.keywords input{display:inline-block;border:none;background-color:#fff;}
#searchBox p.reset{width:50px;line-height:30px;}
#searchBox p.reset a{font-size:12px;font-family:"NotoSansKR-Bold";color:#999;}
#searchBox p.goBtn{width:158px;}
#searchBox p.goBtn input{display:block;width:160px;height: 30px;border:none;background-color:#4F60E3;color:#fff;}

/*###################################   listpart 인재정보   ###################################*/
#listPart{width:790px;margin-top: 40px;overflow: hidden;font-size: 14px;}
#listPart h4{width:50%;font-size:18px;margin-bottom: 10px;float: left;}
#listPart .rec_align{width:50%;text-align: right;float: left;padding-top:10px;}
#listPart .rec_align li{display:inline-block;margin-bottom:10px;}
#listPart .rec_align li a{font-size:11px;}

#listPart .list{width:100%;overflow: hidden;border-collapse:collapse;}
#listPart .list caption{display:none;}
#listPart .list tbody{width:100%;border-collapse:collapse;}
#listPart .list tr{width:100%;border-bottom:1px solid #ccc;text-align: center;font-size:14px;background-color: #fff;}


/*###################################   리스트 제목부분   ###################################*/
  #listPart .list .list_title th{height:50px;line-height: 50px;border-bottom:1px solid #000;}
  #listPart .list .desc td{padding:30px 0;}
  #listPart .list .desc00{width:130px;}
  #listPart .list .desc01{width:320px;}
  #listPart .list .desc02{width:120px;}
  #listPart .list .desc03{width:120px;}
  #listPart .list .desc04{width:100px;}

  #listPart .list .desc .desc01{text-align: left;}
  #listPart .list td a:hover{text-decoration: underline;}


.numareaWrap{padding-bottom:30px;}
