body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .gnb03 .subMenu03_01{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}

  /*###################################   listpart   ###################################*/
  #listPart{width:710px;margin:0 auto;overflow: hidden;font-size: 14px;}
  #listPart h4{width:100%;height:50px;line-height:50px;font-size:18px;float: left;}
  #listPart .listTotal{width:160px;height:40px;line-height:55px;float: left;}
  #listPart .listTotal span{font-family:"NotoSansKR-Medium";padding:0 5px;color:#4F60E3;}
  #listPart select{margin-left:265px;margin-right:5px;width:160px;text-indent:10px;height:40px;line-height:38px;text-align:center;margin-bottom:5px;border:1px solid #000;float: left;}
  #listPart .delete{width:120px;height:40px;line-height:38px;text-align:center;margin-bottom:5px;border:1px solid #000;float: left;}

  #listPart .list{width:100%;border-top:1px solid #999;overflow: hidden;}
  #listPart .list li{width:100%;height:150px;border-bottom:1px solid #ccc;}
  /*체크박스*/input{width:16px; height: 16px;}

  /*###################################   리스트 내용먼저 잡음   ###################################*/
  #listPart .list li div{width:100%;height:100%;float:left;text-align: center;font-size:14px;}
  #listPart .list li .desc00{width:30px;height:150px;line-height:150px;}
  #listPart .list li .desc01{width:100px;height:120px;margin:10px;overflow: hidden;}
  #listPart .list li .desc01 img{width:100%;}
  #listPart .list li .desc02{width:80px;height:90px;padding-top:60px;}
  #listPart .list li .desc03{width:400px;height:150px;line-height:150px;}
          #listPart .list li .desc03:hover a{text-decoration: underline;}
  #listPart .list li .desc04{width:80px;height:150px;line-height:150px;}

/*###################################   리스트 타이틀  ###################################*/
    #listPart .list .list_title{width:100%;height:50px;background-color:#EDF0F5;}
    #listPart .list .list_title div{float:left;line-height:50px;text-align: center;}
    #listPart .list .list_title .desc00{width:30px;height:100%;}
    #listPart .list .list_title .desc01{width:120px;height:50px;text-align:center;line-height:50px;padding-top:0px;margin:0;}
    #listPart .list .list_title .desc02{width:80px;height:50px;padding-top:0px;}
    #listPart .list .list_title .desc03{width:400px;height:50px;padding-top:0px;}
    #listPart .list .list_title .desc04{width:80px;height:50px;padding-top:0px;}

.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:360px;height:30px;line-height:28px;padding-top:30px;padding-bottom:30px;text-align: center;margin:0 auto;}
.numArea li{width:30px;height:30px;border:1px solid #fff;float:left;}
.numArea li a{color:#ccc;}

              .numArea li:hover{border: 1px solid #ccc;}
              .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}
