body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
  #containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}

#container{width:1000px;margin:0 auto;}

#menuTree ul .gnb01 .subMenu01_03{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;}

/*###################################   listpart   ###################################*/
#listPart{width:790px;overflow: hidden;font-size: 14px;padding:40px;}
#listPart h4{width:100%;height:50px;line-height:50px;font-size:18px;}

/*###################################   정렬순서(등록일순/수정일순/마감일순) ###################################*/
#listPart .align{width:100%;text-align: right;float: left;border-bottom: 1px solid #000;}
#listPart .align li{display:inline-block;margin-bottom:10px;}
#listPart .align li a{font-size:11px;}

#rightPart .lists{width:710px;overflow:hidden;}
#rightPart .lists li{width:710px;height:160px;background-color: #fff;font-size:16px;
  border: 1px solid #fff;border-bottom: 1px solid #ccc;}


#rightPart .lists li .state{width:90px;height:100%;line-height:160px;color:#999;text-align: center;float: left;}
#rightPart .lists li .desc{padding:30px 0;width:618px;height:100px;float: left;}
#rightPart .lists .desc .desc0{width:100%;height:60px;font-size:18px;text-align: left;line-height:70px;float: left;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;}

        #rightPart .lists .desc .desc0 a:hover{text-decoration: underline;}

#rightPart .lists .desc .desc1{width:48%;height:40px;line-height:30px;font-size:11px;float: left;}

      #rightPart .lists .desc .desc1 a:hover{text-decoration: underline;}

#rightPart .lists .desc .desc2{width:52%;height:40px;line-height:30px;font-size:11px;float: left;text-align: right;padding-right:20px;}
#rightPart .lists .desc .desc2 .total{color:#4F60E3;font-weight:700;}

      #rightPart .lists .desc .desc2 a:hover{text-decoration: underline;}
