body{background: #EDF0F5;font-family:"NotoSansKR-Regular";letter-spacing:-0.8px;}

/*###################################   containerWrap  ###################################*/
    #containerWrap{width:1000px;margin:20px auto 100px;overflow: hidden;}
/*###################################   leftpart   ###################################*/
      #leftPart{width:190px;height:100%;float: left;}
      /*#mycompanyBox{width:200px;background-color:#fff;padding:30px 20px 20px;}

      #mycompanyBox p{text-align: center;}
      #mycompanyBox .settingBtn{width:100%;text-align: right;font-size: 12px;}
      #mycompanyBox .uploadApplication{width:120px;height:30px;line-height: 30px;margin: 0 auto;font-size:14px;margin-top:20px;border: 1px solid #4F60E3;}
      #mycompanyBox .uploadApplication a{width: 100%;height:100%;color:#4F60E3;}

            #mycompanyBox .uploadApplication:hover{border:1px solid #333;}
            #mycompanyBox .uploadApplication:hover a{color:#333;}*/

      #paymentBox{width:190px;overflow: hidden;padding:20px; background-color: #FFCE00;font-size:14px;line-height: 28px;color:#333;}
          #paymentBox .payBtn{font-size:12px;text-decoration: underline;}

      #menuTree{width:190px;height:100%;line-height:22px;font-size:16px;}
      #menuTree ul{width:190px;font-size: 16px;text-indent:10px;background-color: #fff;padding:20px;}
      #menuTree ul .gnb{padding-top:10px;padding-bottom: 20px;}
      /*#menuTree ul .payService{height:64px;background-color: #FFCE00;}*/
      #menuTree ul .payService li a{color:#666;}
      #menuTree ol{width:100%;font-size: 14px;text-indent:20px;}
      #menuTree ol a{color:#666;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;margin-left:20px;float: left;}

/*###################################   part00/지원자관리  ###################################*/
#part00{width:100%;overflow: hidden;margin-bottom: 20px;}
#part00 h4{width:100%; height:40px;line-height:40px;font-size: 12px;}
#part00 h4 a{color:#999;}
#part00 ul{width:790px;overflow:hidden;}
#part00 .list00 li{width:790px;height:100px;background-color: #fff;border: 1px solid #fff;border-bottom: 1px solid #ccc;}

#part00 .list00 li p{width:90px;height:100%;line-height: 100px;text-align: center;float: left;}
#part00 .list00 li div{width: 698px;height:100%;float: left;}
#part00 .list00 .desc .desc0{width:688px;height:60px;text-align: left;line-height:80px;float: left;
white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}

        #part00 .list00 .desc .desc0 a:hover{text-decoration: underline;}

#part00 .list00 .desc .desc1{width:330px;height:40px;line-height:15px;font-size: 12px;float: left;}

      #part00 .list00 .desc .desc1 a:hover{text-decoration: underline;}

#part00 .list00 .desc .desc2{width:30%;height:40px;line-height:30px;font-size: 11px;float: right;text-align: right;padding-right:20px;}
#part00 .list00 .desc .desc2 .total{color:#4F60E3;font-weight:700;}

      #part00 .list00 .desc .desc2 a:hover{text-decoration: underline;}

/*###################################   part01/맞춤인재 관리    ###################################*/
#part01{width:100%;overflow: hidden;}

#part01 h4{width:100%; height:40px;line-height:40px;font-size: 12px;}
#part01 h4 a{color:#999;}
#part01 ul{width:100%;}
#part01 ul li{width:790px;padding:10px;overflow: hidden;background-color:#fff;border: 1px solid #fff;border-bottom: 1px solid #ccc;}
#part01 ul li p{float:left;}
#part01 ul li p span{display:block;}

#part01 ul li .img00{width:80px;height:100px;overflow: hidden;}
#part01 ul li .img00 img{width:100%;}

#part01 ul li .desc00{width:150px;padding:25px 0;text-align:center;}
#part01 ul li .desc00 .name{font-size:14px;}
#part01 ul li .desc00 .age{font-size:14px;}

#part01 ul li .desc01{width:380px;padding:25px 0;line-height:24px;}
#part01 ul li .desc01 a:hover{text-decoration:underline;}
#part01 ul li .desc01 .detail{font-size:16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#part01 ul li .desc01 .title01{font-size:14px;color:#999;}

#part01 ul li .date{width:140px;padding:40px 0;font-size:14px;text-align: center;}

/*###################################   listpart   ###################################*/
#listPart{width:100%;margin-top: 30px;margin-bottom: 10px;overflow: hidden;font-size: 14px;}
#listPart .tab{width:100%;height:40px;border-bottom:1px solid #000;}
#listPart .tab li{width:180px;height:39px;line-height:38px;text-align:center; background-color: #eee;float:left;border:1px solid #ccc;}
#listPart .tab li a{display: block;width: 100%;height: 100%;color:#ccc;}

        #listPart .tab li:hover{border: 1px solid #999;}
        #listPart .tab li:hover a{color: #999;}

#listPart .tab li a.selected{background-color: #fff;color:#000;}

#listPart .list{width:790px;font-size:13px;overflow: hidden;border-collapse: collapse;
  table-layout: fixed;
word-wrap: break-word;}
#listPart .list caption{display:none;}
#listPart .list tbody{width:100%;border-collapse: collapse;background-color:#fff;}
#listPart .list tr{width:790px;border:1px solid #fff;border-bottom:1px solid #ccc;background-color: #fff;}
#listPart .list th{display:none;}
#listPart .list td{padding:20px 10px;}


#listPart .list tr .desc00{width:110px;text-indent:10px;text-align: center;}
#listPart .list tr .desc01{width:310px;color:#666;}
#listPart .list tr .desc01 a:hover{text-decoration:underline;}
#listPart .list tr .desc01 .desc01_01{font-size:15px;}
#listPart .list tr .desc02{width:160px;}
#listPart .list tr .desc03{width:120px;}
#listPart .list tr .date{width:90px;padding:20px 10px 20px 0px;}
