

body{background: #EDF0F5;font-family:"NotoSansKR-Regular";}

/*###################################   containerWrap  ###################################*/
    #containerWrap{width:100%;margin: 10px auto 80px;overflow: hidden;}
    #container{width:1280px;margin:0 auto;}

/*###################################   reg_leftPart   ###################################*/
    #reg_leftPart{width:1060px;float:left;margin-right:10px;}

    #reg_leftPart ul{width:405px;margin:0 auto;}
    #reg_leftPart ul li{width:198px;height:48px;margin-bottom:5px;margin-right:5px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;float:left;}
    #reg_leftPart ul li:last-child{margin-right:0px;}
    #reg_leftPart ul li a{display:block;width:100%;height:100%;color:#666;}
    #reg_leftPart ul li.reg_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #reg_leftPart ul li.reg_ok a{color:#fff;}

    /*###############################   regist00   ###############################*/
    #regist00{width:1060px;margin-bottom:10px;}
    #company_detail{width:1060px;overflow:hidden;background-color:#fff;margin-bottom:10px;}
    #company_detail p{float:left;height: 126px;line-height:126px;}
    #company_detail .company_name{width:220px;padding-left:40px;font-size:32px;}
    #company_detail .company_hp{width:560px;}
    #company_detail .company_logo{width:238px;height:124px;line-height:124px;text-align: center;border:1px solid #ccc;}

    #detailArea{width:981px;padding:40px 39px 40px;background-color:#fff;}
    #detailArea .detail_title{width:100%;height:30px;font-size:24px;font-family:"NotoSansKR-Thin";}
    #detailArea .company_setting{width:110px;height:28px;line-height:28px;font-size:14px;margin-bottom:10px;margin-left:871px;text-align:center;border:1px solid #808495;}
    #detailArea .tabelArea{width:100%;text-indent:10px;overflow: hidden;border-top:1px solid #808495;}
    #detailArea .tabelArea p{float: left;}
    #detailArea .tabelArea .table_title{width:120px;height:39px;line-height:40px;border-bottom:1px solid #ccc;background-color:#808495;color:#fff;}
    #detailArea .tabelArea .table_desc{width:207px;height:39px;line-height:40px;border-bottom:1px solid #808495;}
    #detailArea .tabelArea .table_desc01{width:860px;height:39px;line-height:40px;border-bottom:1px solid #808495;}

                  #detailArea .company_setting:hover{background-color:#eee;}


      fieldset{border:none;}
      legend{font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
      #regForm01 div{width:100%;}
      caption{display:none;}
      tbody{width:100%;text-align:left;}
      tr{width:100%;height:60px;font-size:16px;height:100px;}
      th{width:180px;font-family:"NotoSansKR-Medium";}
      td{width:800px;font-size:14px;}
      td label{font-family:"NotoSansKR-Regular";}
      td input[type="button"]{width:120px;height:40px;padding:0 10px;text-align:center;font-size:16px;
                              background-color:#fff;
                              border:1px solid #999;vertical-align:top;margin-right:20px;}
      td input[type="text"]{width:800px;height:40px;background-color:#fff;border:1px solid #999;text-indent:10px;}
      td input::placeholder{color:#ccc;font-size:16px;}
      td input[type="checkbox"]{width:20px;height:20px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}
      td input[type="radio"]{width:20px;height:20px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}

      td span{display:inline-block;padding-right:20px;}
      td select{width:200px;height:40px;border:1px solid #999;font-size:16px;text-indent:10px;color:#666;}
      td textarea{width:100%;height:200px;}
      td input[type="date"]{width:160px;height:40px;border:1px solid #999;font-size:14px;padding:0 10px;color:#666;}
      .comment{color:red;font-size:12px;padding-top:5px;}
      .necessary{padding-right:0;}

      /*###############################   regist01   ###############################*/
      #regist01{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm01{width:980px;background-color:#fff;padding:40px;}


      /*###############################   regist02   ###############################*/
      #regist02{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm02{width:980px;background-color:#fff;padding:40px;}
      #regForm02 input[type="checkbox"]{margin-top:3px;}
      #reg02_desc08_1{width:50px; height:20px;vertical-align:top;}
      #reg02_desc12_2, #reg02_desc12_3{width:50px; height:20px;vertical-align:top;}

      /*###############################   regist03   ###############################*/
      #regist03{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm03{width:980px;background-color:#fff;padding:40px;}
      #regForm03 th{display:none;}
      #regForm03 td{width:980px;}
      #regForm03 p{width:100%;padding-bottom:20px;}

      /*###############################   regist04   ###############################*/
      #regist04{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm04{width:980px;background-color:#fff;padding:40px;}
      #regForm04 span{width:176px;margin-bottom:10px;padding-top:8px;}

      /*###############################   regist05   ###############################*/
      #regist05{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm05{width:980px;background-color:#fff;padding:40px;}
      #regForm05 tr{height:60px;}

      #regForm05 .file_btn{border:none;}
      #regForm05 input[type="file"]{position: absolute;
                                    width: 0;
                                    height: 0;
                                    padding: 0;
                                    overflow: hidden;
                                    border: 0;
                                }
      #regForm05 label.fileUp {font-family:"NotoSansKR-Medium";
                        display: inline-block;
                        height: 40px;
                        line-height:40px;
                        width:100px;
                        text-align: center;
                        color: #fff;
                        vertical-align: middle;
                        background-color: #4F60E3;
                        cursor: pointer;
                        border: 1px solid #ebebeb;

                    }
      #regForm05 #reg05_desc05{

                        display: inline-block;
                        width:240px;
                        height: 40px;
                        font-size:16px;
                        color:#ccc;
                        padding: 0 10px;
                          vertical-align: middle;
                          background-color: #f5f5f5;
                        border: 1px solid #ebebeb;


                      }

      /*###############################   regist06   ###############################*/
      #regist06{width:100%;overflow:hidden;margin-bottom:10px;}
      #regForm06{width:980px;background-color:#fff;padding:40px;}
      #regForm06 input[type="text"]{width:200px;}
      #regForm06 tr{height:60px;}

      #contact{width:100%;}
      #contact tr{margin:10px 0;}
      #contact span{padding:0 5px;}
      #contact label{display: inline-block;width:160px;}
      #contact input[type="text"]{width:160px;height:40px;margin:5px 0;}
      #contact select{width:160px;}

/*###################################   reg_rightPart   ###################################*/
    #reg_rightPart{width:210px;float:left;}
    #reg_rightPart ul{width:100%;}
    #reg_rightPart ul li{width:198px;height:78px;margin-bottom:5px;text-align:center;line-height:80px;background-color:#fff;border:1px solid #ccc;}
    #reg_rightPart ul li a{display:block;width:100%;height:100%;color:#666;}
    #reg_rightPart ul li.reg_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #reg_rightPart ul li.reg_ok a{color:#fff;}
