body{background: #EDF0F5;}

/*###################################   containerWrap  ###################################*/
    #containerWrap{width:100%;overflow: hidden;margin:20px 0 100px;}
    #container{width:1000px;margin:0 auto;}

    /*###################################   leftpart   ###################################*/
    /*###################################   좌측메뉴는 common.css   ###################################*/
        #menuTree ul .gnb01 .subMenu01_01{text-decoration: underline;}

    /*###################################   등록완료 버튼 reg_leftPart   ###################################*/
    #leftPart_buttom{width:200px;margin-top:10px;}
    #leftPart_buttom ul{width:100%;}
    #leftPart_buttom ul li{width:200px;height:50px;margin-bottom:5px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;}
    #leftPart_buttom ul li a{display:block;width:100%;height:100%;color:#666;}
    #leftPart_buttom ul li.reg_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #leftPart_buttom ul li.reg_ok a{color:#fff;}

/*###################################   reg_rightPart   ###################################*/
    #rightPart{width:790px;height:100%;margin-left:10px;float:left;}

/*#########채용공고 등록하기 이후 테이블 전체 설정#########*/
      fieldset{border:none;}
      legend{font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
      #regForm01 div{width:100%;}
      table{width:100%;}
      caption{display:none;}
      tbody{width:100%;text-align:left;border-collapse: collapse;}
      tr{width:100%;font-size:16px;}
      th{width:140px;font-family:"NotoSansKR-Medium";}
      td{width:570px;font-size:14px;}
      td label{font-family:"NotoSansKR-Regular";}
      td input[type="button"]{width:80px;height:40px;text-align:center;font-size:14px;
                              background-color:#eee;
                              border:1px solid #999;vertical-align:top;}
      td input[type="text"]{width:570px;height:40px;background-color:#fff;border:1px solid #999;text-indent:10px;}
      td input::placeholder{color:#ccc;font-size:16px;}
      td input[type="checkbox"]{width:16px;height:16px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}
      td input[type="radio"]{width:16px;height:16px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}

      td span{display:inline-block;margin-right:10px;}
      td select{width:130px;height:40px;border:1px solid #999;font-size:16px;padding:10px;color:#666;}
      td textarea{width:100%;height:200px;}
      td input[type="date"]{width:160px;height:40px;border:1px solid #999;font-size:14px;padding:0 10px;color:#666;}
      .comment{color:red;font-size:12px;padding-top:5px;}
      .necessary{padding-right:0;}

      /*###############################   regist00   ###############################*/
      #regist00{width:790px;margin-bottom:10px;}
      #company_detail{width:790px;overflow:hidden;background-color:#fff;border:1px solid #ccc;margin-bottom:10px;}
      #company_detail p{float:left;height: 110px;line-height:110px;}
      #company_detail .company_name{width:678px;padding-left:40px;font-size:32px;}
      #company_detail .company_logo{width:110px;height:110px;overflow: hidden;line-height:110px;text-align: center;border-left:1px solid #ccc;}
      #company_detail .company_logo img{width:100%;}

      #detailArea{width:790px;padding:40px;background-color:#fff;border:1px solid #ccc;}
      #detailArea .detail_title{width:100%;height:30px;font-size:24px;font-family:"NotoSansKR-Thin";}
      #detailArea .company_setting{width:110px;height:30px;line-height:28px;font-size:14px;margin-bottom:10px;margin-left:600px;text-align:center;border:1px solid #808495;}

      #detailArea table{border-top:2px solid #000;border-bottom:1px solid #000;border-collapse:collapse;}
      #detailArea .tabelArea{width:100%;overflow: hidden;}
      #detailArea .tabelArea tr{line-height:30px;float:left;font-size:14px;border-bottom:1px solid #ccc;overflow:hidden;}
      #detailArea .tabelArea .table_title{width:120px;padding-left:20px;background-color:#808495;color:#fff;}
      #detailArea .tabelArea .table_desc{width:588px;padding-left:20px;}

                    #detailArea .company_setting:hover{background-color:#eee;}
                    #detailArea .tabelArea tr:last-child{border-bottom:none;}

      /*###############################  채용공고 등록하기 regist01   ###############################*/
      #regist01{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm01{width:790px;background-color:#fff;padding:40px;}

      /*###############################  모집요강 regist02   ###############################*/
      #regist02{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm02{width:790px;background-color:#fff;padding:40px;}
      #regForm02 tr{height:100px;}
      #regForm02 input[type="checkbox"]{margin-top:3px;}
      #reg02_desc08_1{width:50px; height:20px;vertical-align:top;}
      #reg02_desc12_2, #reg02_desc12_3{width:50px; height:20px;vertical-align:top;}

      /*############################### 상세요강  regist03   ###############################*/
      #regist03{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm03{width:790px;background-color:#fff;padding:40px;}
      #regForm03 th{display:none;}
      #regForm03 td{width:980px;}
      #regForm03 p{width:100%;padding-bottom:20px;font-size:12px;}

      /*############################### 근무환경  regist04   ###############################*/
      #regist04{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm04{width:790px;background-color:#fff;padding:40px;}
      #regForm04 span{width:176px;margin-bottom:10px;padding-top:8px;}

      /*############################### 접수기간/방법  regist05   ###############################*/
      #regist05{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm05{width:790px;background-color:#fff;padding:40px;}
      #regForm05 tr{height:60px;}
/*
      #regForm05 .file_btn{border:none;}
      #regForm05 input[type="file"]{position: absolute;
                                    width: 0;
                                    height: 0;
                                    padding: 0;
                                    overflow: hidden;
                                    border: 0;
                                }
      #regForm05 label.fileUp {font-family:"NotoSansKR-Medium";
                        display: inline-block;
                        height: 40px;
                        line-height:40px;
                        width:100px;
                        text-align: center;
                        color: #fff;
                        vertical-align: middle;
                        background-color: #4F60E3;
                        cursor: pointer;


                    }
      #regForm05 #reg05_desc05{

                        display: inline-block;
                        width:240px;
                        height: 40px;
                        font-size:16px;
                        color:#ccc;
                        padding: 0 10px;
                          vertical-align: middle;
                          background-color: #fff;
                        border: 1px solid #ccc;


                      }
*/
      /*############################### 담당자정보  regist06   ###############################*/
      #regist06{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
      #regForm06{width:790px;background-color:#fff;padding:40px;}
      #regForm06 input[type="text"]{width:170px;}
      #regForm06 tr{margin:10px 0;height:60px;}
      #regForm06 span{padding-right:5px;margin-right:0;}
      #regForm06 input[type="text"]{width:160px;height:40px;margin:5px 0;}
      #regForm06 select{width:162px;height:42px;}

/*###############################   입사지원 버튼   ###############################*/
      #rightPart ul{width:100%;height:50px;text-align: center;}
      #rightPart ul li{display:inline-block;width:200px;height:50px;margin-right:5px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;}
      #rightPart ul li:last-child{margin-right:0px;}
      #rightPart ul li a{display:block;width:100%;height:100%;color:#666;}
      #rightPart ul li.reg_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
      #rightPart ul li.reg_ok a{color:#fff;}
