body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
  #containerWrap{width:100%;margin-bottom:40px;overflow: hidden;}

#container{width:1280px;margin:0 auto;}

#menuTree ul .menu02{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:1060px;height:100%;margin-left:20px;margin-top:20px;float: left;background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

/*###################################   content06 기타채용공고 ###################################*/
#boardPart{width:960px;overflow: hidden;margin:30px auto 0;}
#boardPart h4{width:100%;height:50px;font-size:18px;}
#boardPart table{width:100%;}
#boardPart table caption{display: none;}
#boardPart table thead{width:100%;line-height:50px;font-size:16px;text-align: center;}
#boardPart table thead tr{width:960px;border-top:1px solid #000;border-bottom:1px solid #aaa;display: table;font-size:16px;}

#boardPart table tbody{width:100%;font-size:14px;text-align: center;}
#boardPart table tbody tr{width:960px;line-height:50px;border-bottom:1px solid #ccc;display: table;font-size:14px;font-family:"NanumBarunGothicLight";}

    #boardPart table tr th{width:120px;}
    #boardPart table tr .board_Part{width:520px;}
    #boardPart table tr .board_Person{width:150px;}
    #boardPart table tr .board_date{width:150px;}
    #boardPart table tr .board_count{width:120px;}

    #boardPart table tbody tr .board_Part{text-align: left;}

    #boardPart table tbody tr:hover{background-color:#fff;}

    #boardPart .delete{margin-left:840px;width:120px;height:40px;margin-top:10px;line-height:38px;text-align:center;
     margin-bottom:5px;background-color:#4F60E3;float: left;}
     #boardPart .delete a{color:#fff;}

.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:360px;height:30px;line-height:28px;padding-top:30px;padding-bottom:50px;text-align: center;margin:0 auto;}
.numArea li{width:30px;height:30px;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;}
.numArea li a{color:#ccc;}

              .numArea li:hover{border: 1px solid #666;}
              .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}
