body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
/*	#menuTree ul .menu02{text-decoration: underline;}	*/

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}

/*###################################   content06 기타채용공고 ###################################*/
#boardPart{width:710px;overflow: hidden;margin:0 auto;}
#boardPart h4{width:100%;height:50px;line-height:50px;font-size:18px;border-bottom:2px solid #000;}
#boardPart .titlePart{width:100%;overflow: hidden;font-size:14px;text-indent:20px;border-bottom:1px solid #ccc;}
#boardPart .titlePart .title{width:100%;height:60px;line-height:60px;font-size:26px;margin:20px 0 10px;}
#boardPart .titlePart .detailArea{width:100%;}
#boardPart .titlePart .detailArea p{height:30px;float:left;color:#999;}
#boardPart .titlePart .detailArea p span{color:#000;padding:0 10px;}
#boardPart .titlePart .writer{width:360px;}
#boardPart .titlePart .detail{width:350px;text-align: right;}
#boardPart .titlePart .attachment{margin-left:30px;width:300px;line-height:30px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;float:left;}
#boardPart .titlePart .attachment span{display:inline-block;text-indent:0;}
#boardPart .titlePart .attachment span.attachment_title{width:80px;border-right:1px solid #ccc;}
#boardPart .descPart{width:100%;font-size: 14px;line-height:24px;overflow: hidden;border-bottom:1px solid #333;padding:20px;}
.golist{margin-top:5px;width:100px;height:30px;line-height:28px;text-align: center;font-size:14px;border:1px solid #ccc;float:left;}
#boardPart .buttonPart{width:610px;margin-top:5px;float:left;text-align: right;}
#boardPart .buttonPart li{display:inline-block;width:120px;height:30px;line-height:28px;text-align: center;font-size:14px;border:1px solid #ccc;}
#boardPart .buttonPart li:first-child{background-color:#4F60E3;}
#boardPart .buttonPart li:first-child a{display:block;width:100%;height:100%;color:#fff;}
#boardPart .buttonPart li:last-child{background-color:#eee;}
#boardPart .buttonPart li:last-child a{display:block;width:100%;height:100%;color:#333;}

#boardPart .replyPart{width:100%;overflow: hidden;margin-top:50px;}
#boardPart .replyPart .reply_text{width:710px;height:100px;border:1px solid #999;overflow: hidden;margin-top:30px;}
#boardPart .replyPart .reply_text form{width:100%;}
fieldset{border:none;}
legend{display: none;}
#boardPart .replyPart form .textArea{width:608px;height:100px;padding:20px;line-height:22px;font-size:14px;border:none;float:left;overflow: auto;}
#boardPart .replyPart .reply_btn{width:100px;height:100px;line-height:20px;float:left;background-color:#4F60E3;text-align:center;}
#boardPart .replyPart .reply_btn a{display:block;width:100%;height:100%;padding-top:30px;color:#fff;}

#boardPart .replyPart .ok_btn{margin-top:10px;width:100px;height:30px;line-height:30px;text-align: center;font-size:14px;background-color:#4F60E3;}
#boardPart .replyPart .ok_btn a{display:block;width:100%;height:100%;color:#fff;}


#boardPart .replyPart form p{width:100%;overflow: hidden;}
#boardPart .replyPart form p span{display:inline-block;height:60px;line-height:60px;float:left;text-indent:20px;border-bottom:1px solid #ccc;}
#boardPart .replyPart form p .write_title{width:140px;background-color:#eee;}
#boardPart .replyPart form p .write_desc{width:570px;height:60px;line-height:54px;}
#boardPart .replyPart form p span input{width:530px;height:40px;padding: 0 10px;border: 1px solid #333;}
