body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .menu02{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}

/*###################################   content06 기타채용공고 ###################################*/
#boardPart{width:710px;overflow: hidden;margin:0 auto;}
#boardPart h4{width:100%;height:50px;line-height:50px;font-size:18px;}
#boardPart form{width:100%;  border-bottom:1px solid #ccc;}
#boardPart fieldset{border:none;}
#boardPart legend{display:none;}

#boardPart form div{width:100%;border-top:2px solid #000;overflow: hidden;}
#boardPart form div p{width:100%;overflow: hidden;}
#boardPart form div p span{display:inline-block;height:60px;line-height:60px;float:left;text-indent:20px;border-bottom:1px solid #ccc;}
#boardPart form div p .write_title{width:140px;background-color:#eee;}
#boardPart form div p .write_desc{width:570px;height:60px;line-height:54px;}
#boardPart form div p span input{width:530px;height:40px;padding: 0 10px;border: 1px solid #333;}

#boardPart .file_btn{border:none;}
#boardPart input[type="file"]{position: absolute;
                              width: 0;
                              height: 0;
                              padding: 0;
                              overflow: hidden;
                              border: 0;}
#boardPart label {
                  display: inline-block;
                  height: 40px;
                  line-height:40px;
                  width:98px;
                  text-align: center;
                  color: #fff;
                  vertical-align: middle;
                  background-color: #4F60E3;
                  cursor: pointer;
                  font-size:14px;
                  text-indent:0;}
#boardPart #writeDesc{
                  display: inline-block;
                  width:432px;
                  height: 40px;
                  font-size:16px;
                  padding: 0 10px;
                    vertical-align: middle;
                    background-color: #fff;
                  border: 1px solid #333;}

#boardPart form .writePart{width:100%;height:300px;margin:10px 0;border:1px solid #ccc;}
#boardPart form .writePart textarea{width:100%;height:100%;border:none;padding:2%;}

#boardPart .buttonPart{width:205px;margin:10px auto;}
#boardPart .buttonPart li{width:100px;height:30px;line-height:30px;text-align: center;font-size:14px;float: left;}
#boardPart .buttonPart li:first-child{background-color:#4F60E3;margin-right:5px;}
#boardPart .buttonPart li:first-child a{color:#fff;}
#boardPart .buttonPart li:last-child{background-color:#eee;border:1px solid #999;}
#boardPart .buttonPart li:last-child a{color:#333;}
