body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .menu06{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}
h4{width:100%;height:50px;line-height:50px;font-size:18px;}
.tab{width:100%;overflow: hidden;text-align: left;border-bottom:1px solid #000;}
.tab li{display:inline-block;width:200px;height:40px;line-height:40px;border:1px solid #ccc;text-align: center;}

            .tab li:first-child{background-color:#4F60E3;border:1px solid #4F60E3;}
            .tab li:first-child a{color:#fff;}

.privacy{width:100%;height:600px;overflow:scroll;padding:20px;font-size:13px;border:none;line-height:26px;}
.privacy li{margin-bottom:20px;}
.privacy p{font-family:"NotoSansKR-Medium";}

.companyPrivacy{display:none;}
table{width:100%;border-collapse:collapse;border:1px solid #ccc;}
caption{display:none;}
thead{width:100%;background-color: #EDF0F5;}
tr{width:100%;text-align: center;}
th{border:1px solid #ccc;}
.t00{width:180px;}
.t01{width:170px;}
.t02{width:160px;}
.t03{width:160px;}

.t04{width:170px;}
.t05{width:300px;}
.t06{width:240px;}

td{border-right:1px solid #ccc;}
.d02{text-align: left;text-indent:10px;}
.d03{text-align: left;text-indent:10px;}
