body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .menu02{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}

/*###################################   content06 기타채용공고 ###################################*/
#boardPart{width:710px;overflow: hidden;margin:0 auto;}
#boardPart h4{width:100%;height:50px;line-height:50px;font-size:18px;}
#boardPart table{width:100%;}
#boardPart table caption{display: none;}
#boardPart table thead{width:100%;line-height:50px;font-size:16px;text-align: center;}
#boardPart table thead tr{width:710px;border-top:1px solid #000;border-bottom:1px solid #aaa;display: table;font-size:16px;}

#boardPart table tbody{width:100%;font-size:14px;text-align: center;}
#boardPart table tbody tr{width:710px;line-height:50px;border-bottom:1px solid #ccc;display: table;font-size:14px;font-family:"NanumBarunGothicLight";}

    #boardPart table tr th{width:80px;}
    #boardPart table tr .board_Part{width:270px;}
    #boardPart table tr .board_Person{width:120px;}
    #boardPart table tr .board_date{width:120px;}
    #boardPart table tr .board_count{width:120px;}

    #boardPart table tbody tr .board_Part{text-align: left;}

    #boardPart table tbody tr:hover{background-color:#fff;}

    #boardPart .delete{margin-left:590px;width:120px;height:40px;margin-top:10px;line-height:38px;text-align:center;margin-bottom:5px;background-color:#4F60E3;float: left;}
     #boardPart .delete a{color:#fff;}

.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:360px;height:30px;line-height:28px;padding-top:30px;padding-bottom:50px;text-align: center;margin:0 auto;}
.numArea li{width:30px;height:30px;border:1px solid #fff;float:left;}
.numArea li a{color:#ccc;}

              .numArea li:hover{border: 1px solid #ccc;}
              .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}
