/*###################################   Header    ###################################*/
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}
  #headerWrap{width:100%;height:100px;background-color:#000;}
    #topWrap{width:1000px;height:40px;margin:0 auto;}
    #topWrap h1{width:100px;height:40px;line-height:30px;float: left;}
    #topWrap h1 a{color:#fff;font-size:20px;}

    #topWrap ul{width:900px;height:100%;font-size: 12px;line-height: 40px;text-align: right;float: left;}
    #topWrap ul li{display: inline-block;}
    #topWrap ul li a{color:#fff;}

  #head{width:100%;height:60px;border-bottom:1px solid #ccc;background-color: #fff;}
    #header{width:1000px;height:100%;margin:0 auto;}
    #header p{width:80px;height:100%;line-height:60px;font-size:24px;float:left;}
    #header .nav{width:800px;height:100%;float:left;}
    #header .nav li{display: inline-block;text-align: center;font-size:18px;line-height: 60px;padding: 0 20px;}

            #header .nav li:hover{background-color:#4F60E3;}
            #header .nav li:hover a{color:#fff;}

    #header .link01{width:120px;height:59px;font-size:14px;text-align: center;line-height:60px;background-color:#4F60E3;float:left;border-left:1px solid #ccc;border-right:1px solid #ccc;}
    #header .link01 a{color:#fff;}

    /*전체메뉴 보기  ###################################*/
    #allMenuWrap{width:100%;height:480px;background-color:#fff;position:absolute;top:100px;left:0px;z-index:20;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
    #allMenu{width:1000px;height:480px;margin:0 auto;}
    #allMenu p{text-align: right;font-size:40px;}
    #allMenu .sitemapArea{width:1001px;border-left:1px solid #eee;overflow: hidden;}
    #allMenu .sitemap{width:250px;height:360px;border-right:1px solid #eee;border-bottom:1px solid #eee;float:left;}
    #allMenu h4{width:100%;height:40px;line-height:40px;text-indent:20px;color:#aaa;font-size:18px;border-top:1px solid #eee;border-bottom:1px solid #eee;font-family:"NotoSansKR-Medium";}
    #allMenu ul{width:100%;}
    #allMenu ul li{width:100%;text-indent:20px;}
    #allMenu ul .sitemap_depth01{width:250px;height:40px;line-height:40PX;font-size:14px;}
    #allMenu ul .sitemap_depth02{margin-left:40px;width:210px;line-height:30px;font-size:14px;text-indent:55px;font-family:"NotoSansKR-Thin";}

    #allMenu #allMenu_ect{width:1000px;height:30px;margin-top:10px;text-align: right;font-family:"NotoSansKR-Medium";}
    #allMenu #allMenu_ect span{font-size:14px;}

    #allMenu ul li:hover a{color:#aaa;}
