
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}
#headerWrap{width:100%;height:100px;/*position:relative;position:fixed;left:0;top:0px;z-index:100;*/}

  #topWrap{width:100%;height:40px;background-color:#eee;overflow:hidden;}
  #topWrap .topMenu{width:1000px;height:40px;line-height:40px;text-align: right;margin:0 auto;}
  #topWrap .topMenu li{display:inline-block;font-size: 12px;}

  #head{width:100%;height:60px;background-color: #fff;border-bottom:1px solid #ccc;}
  #header{width:1000px;height:100%;margin:0 auto;background-color: #fff;}
  #header h1{width:100px;height:60px;line-height:60px;font-size:22px;font-family:"NotoSansKR-Bold";float:left;}
  #header h1 a{color:#4F60E3;}
  #header .nav{width:640px;height:60px;float:left;}
  #header .nav li{font-size:18px;display: inline-block;line-height:60px;padding:0 20px;}
  #header .nav .dropMenuWrap{display: none;}

  #header .nav li:hover{background-color:#4F60E3;}
  #header .nav li:hover a{color:#fff;}

  #header .linkArea{width:260px;height:60px;float:left;}
  #header .linkArea .a01{text-indent:20px;width:200px;height:60px;line-height:60px;float:left;border-left:1px solid #ccc;}
  #header .linkArea .a02{width:60px;height:59px;line-height:60px;text-align: center;float:left;background-color:#fff;border-left:1px solid #ccc; border-right:1px solid #ccc;}
  #header .linkArea .a01 a{font-size:12px;}
  #header .linkArea .a02 a{color:#333;}

  #header .linkArea .a01:hover a{color:#999;}
  #header .linkArea .a02:hover{background-color:#4F60E3;}
  #header .linkArea .a02:hover a{color:#fff;}

/*전체메뉴 보기 */
  #allMenuWrap{width:100%;overflow:hidden;background-color:#fff;position:absolute;top:100px;left:0px;z-index:20;border-bottom:1px solid #ccc;}
  #allMenu{width:1000px;height:440px;margin:0 auto;}
  #allMenu .close{width:40px;height:40px;margin-left:960px;text-align:center;line-height:40px;font-size:20px;background-color:#eee;}
  #allMenu .sitemapArea{width:1000px;height:360px;border:1px solid #eee;}
  #allMenu .sitemapArea::after{content:"";display:block;clear:both;}
  #allMenu div{width:249px;height:360px;border-right:1px solid #eee;float:left;}
  #allMenu div:last-child{border-right:0;}
  #allMenu h4{width:250px;height:40px;line-height:40px;text-indent:20px;color:#aaa;font-size:18px;border-bottom:1px solid #eee;}
  #allMenu div ul{width:100%;}
  #allMenu div ul li{width:100%;line-height:32px;text-indent:30px;}
  #allMenu div .sub{width:100%;}
  #allMenu div .sub li{width:100%;line-height:24px;text-indent:100px;font-family:"NotoSansKR-Light";font-size: 14px;}
  #allMenu .allMenu_ect{width:1000px;height:30px;line-height:30px;font-size:12px;text-align: right;}
