#headerWrap{width:100%;height:100px;/*position:relative;position:fixed;left:0;top:0px;z-index:100;*/}

  #topWrap{width:100%;height:40px;background-color:#eee;overflow:hidden;}
    #topWrap .topMenu{width:1000px;height:40px;line-height:40px;text-align: right;margin:0 auto;}
    #topWrap .topMenu li{display:inline-block;font-size: 12px;}

  #head{width:100%;height:60px;background-color: #fff;position:absolute;left:0;top:40px;z-index:1;border-bottom:1px solid #ccc;}
  #header{width:1000px;height:100%;margin:0 auto;background-color: #fff;}
    #header h1{width:100px;height:60px;line-height: 60px;font-size:22px;font-family:"NotoSansKR-Bold";float:left;}
    #header h1 a{color:#4F60E3;}
    #header .nav{width:640px;height:60px;float:left;}
    #header .nav li{font-size:18px;display: inline-block;line-height: 60px;padding:0 15px;}
    #header .nav .dropMenuWrap{display: none;}

    #header .nav li:hover{background-color:#4F60E3;}
    #header .nav li:hover a{color:#fff;}

    #header .linkArea{width:260px;height:60px;float:left;}
    #header .linkArea li{width:130px;height:60px;float:left;text-align: center;line-height:60px;font-size:12px;}
      #header .linkArea .a01{background-color:#273245;}
      #header .linkArea .a02{background-color:#4F60E3;}
      #header .linkArea li a{color:#fff;}

      #header .linkArea .a01:hover{background-color:#000;}
      #header .linkArea .a02:hover{background-color:#3E4EC3;}


  /*전체메뉴 보기  ###################################*/
  #allMenuWrap{width:100%;height:470px;background-color:#fff;position:absolute;top:100px;left:0px;z-index:20;border-bottom:1px solid #ccc;}
  #allMenu{width:1000px;height:470px;margin:0 auto;}
  #allMenu p{text-align: right;font-size:40px;}
  #allMenu .sitemapArea{width:1001px;border-left:1px solid #eee;overflow: hidden;}
  #allMenu .sitemap{width:250px;height:360px;border-right:1px solid #eee;border-bottom:1px solid #eee;float:left;}
  #allMenu h4{width:100%;height:40px;line-height:40px;text-indent:20px;color:#aaa;font-size:18px;border-top:1px solid #eee;border-bottom:1px solid #eee;font-family:"NotoSansKR-Medium";}
  #allMenu ul{width:100%;}
  #allMenu ul li{width:100%;text-indent:20px;}
  #allMenu ul .sitemap_depth01{width:250px;height:40px;line-height:40PX;font-size:14px;}
  #allMenu ul .sitemap_depth02{margin-left:40px;width:210px;line-height:30px;font-size:14px;text-indent:55px;font-family:"NotoSansKR-Thin";}

  #allMenu #allMenu_ect{width:1000px;height:30px;margin-top:10px;text-align: right;font-family:"NotoSansKR-Medium";}
  #allMenu #allMenu_ect span{font-size:14px;}

  #allMenu ul li:hover a{color:#aaa;}
