body{background-color:#fff;}
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*###################################   allmenu  ###################################*/
#allMenuWrap{width:100%;height:520px;background-color:#fff;position:absolute;top:100px;left:0px;z-index:20;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#allMenu{width:1280px;height:520px;margin:0 auto;}
#allMenu p{text-align: right;font-size:40px;}
#allMenu .sitemapArea{width:1281px;border-left:1px solid #eee;overflow: hidden;}
#allMenu .sitemap{width:319px;border-right:1px solid #eee;border-bottom:1px solid #eee;height:400px;float:left;}
#allMenu h4{width:100%;height:40px;line-height:40px;text-indent:20px;color:#aaa;font-size:18px;border-top:1px solid #eee;border-bottom:1px solid #eee;font-family:"NotoSansKR-Medium";}
#allMenu ul{width:100%;}
#allMenu ul li{width:100%;text-indent:20px;}
#allMenu ul .sitemap_depth01{width:300px;height:40px;line-height:40PX;font-size:14px;}
#allMenu ul .sitemap_depth02{margin-left:40px;width:260px;line-height:30px;font-size:14px;text-indent:55px;font-family:"NotoSansKR-Thin";}

#allMenu #allMenu_ect{width:1280px;height:30px;margin-top:10px;text-align: right;font-family:"NotoSansKR-Medium";}
#allMenu #allMenu_ect span{font-size:14px;}

#allMenu ul li:hover a{color:#aaa;}

/*###################################   containerWrap ###################################*/
/*###################################   visual ###################################*/

#containerWrap{width:100%;/*margin-top:100px;*/position:relative;}
#visualWrap{width:100%;height:400px;overflow:hidden;position:absolute;top:0;left:0;z-index:15;}
#visual{width:1280px;height:400px;margin:0 auto;}

/*
#visual .descBox{width:500px;height:100%;margin:100px auto 0;}
#visual .descBox p{width:100%;font-size:28px;font-family:"NanumBarunGothicUltralight";color:#fff;text-align: center;}
#visual .descBox .desc0{height:50px;font-size:20px;font-family:"NotoSansKR-Bold";}
#visual .descBox .desc1{height:60px;font-size:36px;}
*/

#visual .descBox{width:500px;height:100%;/*background-color:rgba(0,0,0,1);*/}
#visual .descBox p{width:100%;font-size:28px;font-family:"NanumBarunGothicUltralight";color:#fff;}
#visual .descBox .desc0{height:120px;line-height:180px;font-size:20px;font-family:"NotoSansKR-Bold";}
#visual .descBox .desc1{padding-top:100px;height:120px;font-size:44px;line-height:50px;font-family:"NotoSansKR-Regular";}
#visual .descBox .desc1 .bold{font-family:"NotoSansKR-Regular";}

#visual .descBox #searchArea{width:500px;height:90px;background-color:rgba(255,255,255,0.6);}
#visual .descBox #searchArea form{width:460px;height:46px;margin:0px auto;}
#visual .descBox #searchArea fieldset{border:none;}
#visual .descBox #searchArea legend{display:none;}
#visual .descBox #searchArea .textBox{width:370px;height:44px;border:1px solid #43425D;margin-top:22px;float:left;}
#visual .descBox #searchArea .textBox input{width:100%;height:100%;border:none;font-size:16px;text-indent:10px;}
#visual .descBox #searchArea .btnBox00{width:80px;height:46px;text-align: center;margin-top:22px;float:left;}
#visual .descBox #searchArea .btnBox00 input{width:100%;height:100%;border:none;background-color:#43425D;color:#fff;font-size:18px; }

#visual .descBox #searchArea:hover .textBox{border:1px solid #ccc;}

#screen{width:1920px;height: 400px;margin: 0 auto;position:relative;overflow: hidden;}
#film{width:3840px;}
#film .scene{width:1920px;float:left;}
#film .scene img{width:100%;}



/*###################################   content01_offer 유료공고 모음 ###################################*/
#contentWrap{width:100%;overflow: hidden;}
#content01{width:1280px;overflow: hidden;margin:100px auto 20px;}


#content01_offer{width:975px;height:634px;float: left;}
#content01_offer ul{width:100%;}
#content01_offer ul li{display:inline-block;width:305px;height:300px;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow:5px 5px 1px rgba(220,220,220,1);margin-right:15px;margin-bottom: 15px;}
#content01_offer ul li a{display:inline-block;width:80%;height:80%;padding: 10%;position: relative;}
#content01_offer ul li a span{display:inline-block;font-size:14px;}

#content01_offer ul li a .desc00{width:100px;height:40px;line-height: 40px;color:#fff;text-align: center;position: absolute;top: 0;left:0;}
#content01_offer ul li a .desc01{width:100%;padding-bottom:40px;text-align: right;}
#content01_offer ul li a .desc02{width:100%;font-size: 20px;padding-bottom:20px;}
#content01_offer ul li a .desc03{width:100%;font-size: 18px;font-family:"NotoSansKR-Bold";float:left;padding-bottom:35px;border-bottom: 1px solid #000;}
#content01_offer ul li a .desc04{width:50%;padding-top:25px;}
#content01_offer ul li a .desc05{width:50%;text-align: right;padding-top:25px;}

    #content01_offer ul .headhunting a .desc00{background-color:#BE22C4;}
    #content01_offer ul .regular a .desc00{background-color:#4F60E3;}
    #content01_offer ul .freelance a .desc00{background-color:#33B9B4;}
    #content01_offer ul .partT a .desc00{background-color:#E2A603;}

#content01_offer ul li:hover{border:1px solid #43425D;}

/*###################################   content01_ad 유료광고 모음 ###################################*/
#content01_ad{width:305px;height:634px;float: left;}
#content01_ad ul{width:100%;height:100%;}
#content01_ad ul li{display:inline-block;width:305px;height:146px;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow:5px 5px 1px rgba(220,220,220,1);margin-right:15px;margin-bottom:6px;
overflow: hidden;}
#content01_ad ul li img{width:100%;}


#content01_ad ul li:hover{border:1px solid #333;}


/*###################################   content02 기업광고 모음 ###################################*/

  #content02Wrap{width:100%;border-top: 1px solid #ccc;}
  #content02{width:1280px;height:70px;margin:0 auto;}
  #adArea{width:100%;height:100%;}
  #adArea p{width:40px;height:40px;margin-top: 15px;float:left;}
  #adArea p a{display: block;width:100%;height:100%;}
  #adArea p a img{width:100%;}

  #adArea #adList{width:1200px;height:100%;float:left;}
  #adArea #adList li{width:200px;height:100%;float:left;}
  #adArea #adList li a{display: block;width:100%;height:100%;position: relative;}
  #adArea #adList li a p{width:100%;height:100%;position: absolute;top:0;left:0;margin-top:0;}
  #adArea #adList li a .adImg{width:100%;height:100%;}
  #adArea #adList li a .adImg img{width:100%;height:100%;}

  #adArea #adList li a .adText{width:100%;height:50px;text-align: center;font-size:14px;color:#fff;background-color:#43425D;padding-top:20px;opacity:0;}

  #adArea #adList li:hover a .adText{opacity:1;}
  #adArea .btn:hover{filter: contrast(80%);}

/*###################################   content03 기업회원등록 공고 ###################################*/
#content03Wrap{width:100%;border-top: 1px solid #ccc;}
#content03{width:1280px;height:700px;margin:100px auto 0;padding-top: 90px;}
#content03 h4{width:100%;height:120px;line-height: 120px;font-size:28px;font-family:"NanumBarunGothicUltralight";text-align: center;}
#content03 p{width:100%;height:34px;padding-bottom: 10px;}
#content03 ul{width:1300px;height:440px;}
#content03 ul li{display: inline-block;width:300px;height:200px;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right:20px;margin-bottom: 20px;background-color: #fff;}
#content03 ul li .descBox{display: inline-block;width:238px;height:138px;padding:30px;}
#content03 ul li span{display: inline-block;font-size:12px;}

#content03 ul li .desc01{width:100%;font-size: 14px;height:28px;font-family:"NanumBarunGothicRegula";}
#content03 ul li .desc02{width:100%;font-size: 18px;height:45px;line-height:26px;font-family:"NanumBarunGothicBold";}
#content03 ul li .desc03{width:100%;font-size: 12px;height:25px;line-height:20px;font-family:"NotoSansKR-Bold";}
#content03 ul li .desc04{width:50%;text-align:left;height:30px;}
#content03 ul li .desc05{width:50%;text-align:right;height:30px;}

#content03 ul li:hover{border:1px solid #43425D;}


  /*###################################   content04 프리랜서 공고 ###################################*/
      #content04Wrap{width:100%;background-color:#EDF0F5;}
      #content04{width:1280px;height:700px;margin:100px auto 0;padding-top: 90px;}
      #content04 h4{width:100%;height:120px;line-height: 120px;font-size:28px;font-family:"NanumBarunGothicUltralight";text-align: center;}
      #content04 p{width:100%;height:34px;padding-bottom: 10px;}
      #content04 ul{width:1300px;height:440px;}
      #content04 ul li{display: inline-block;width:300px;height:200px;
        border:1px solid #ccc;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right:20px;margin-bottom: 20px;background-color: #fff;}
      #content04 ul li .descBox{display: inline-block;width:238px;height:138px;padding:30px;}
      #content04 ul li span{display: inline-block;font-size:12px;}

      #content04 ul li .desc01{width:100%;font-size: 14px;height:28px;font-family:"NanumBarunGothicRegula";}
      #content04 ul li .desc02{width:100%;font-size: 18px;height:45px;line-height:26px;font-family:"NanumBarunGothicBold";}
      #content04 ul li .desc03{width:100%;font-size: 12px;height:25px;line-height:20px;font-family:"NotoSansKR-Bold";}
      #content04 ul li .desc04{width:50%;text-align:left;height:30px;}
      #content04 ul li .desc05{width:50%;text-align:right;height:30px;}

      #content04 ul li:hover{border:1px solid #43425D;}



      /*###################################   content05 알바 공고 ###################################*/
      #content05Wrap{width:100%;}
      #content05{width:1280px;height:700px;margin:100px auto 0;padding-top: 90px;}
      #content05 h4{width:100%;height:120px;line-height: 120px;font-size:28px;font-family:"NanumBarunGothicUltralight";text-align: center;}
      #content05 p{width:100%;height:34px;padding-bottom: 10px;}
      #content05 ul{width:1300px;height:440px;}
      #content05 ul li{display: inline-block;width:300px;height:200px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border:1px solid #ccc;margin-right:20px;margin-bottom: 20px;background-color: #fff;}
      #content05 ul li .descBox{display: inline-block;width:238px;height:138px;padding:30px;}
      #content05 ul li span{display: inline-block;font-size:12px;}

      #content05 ul li .desc01{width:100%;font-size: 14px;height:28px;font-family:"NanumBarunGothicRegula";}
      #content05 ul li .desc02{width:100%;font-size: 18px;height:45px;line-height:26px;font-family:"NanumBarunGothicBold";}
      #content05 ul li .desc03{width:100%;font-size: 12px;height:25px;line-height:20px;font-family:"NotoSansKR-Bold";}
      #content05 ul li .desc04{width:50%;text-align:left;height:30px;}
      #content05 ul li .desc05{width:50%;text-align:right;height:30px;}

      #content05 ul li:hover{border:1px solid #43425D;}


/*###################################   content06 기타채용공고 ###################################*/
#content06Wrap{width:100%;background-color:#EDF0F5;}
#content06{width:1280px;height:1000px;margin:100px auto 0;padding-top:100px;}
#content06 h4{width:100%;line-height: 120px;font-size:28px;font-family:"NanumBarunGothicUltralight";text-align: center;}
#content06 p{width:100%;padding-bottom: 10px;}
#content06 table{width:100%;}
#content06 table caption{display: none;}
#content06 table thead{width:100%;line-height: 60px;font-size:16px;text-align: center;}
#content06 table thead tr{width:1280px;border-top:2px solid #000;border-bottom:2px solid #aaa;display: table;font-size:18px;font-family:"NanumBarunGothicBold";}

#content06 table tbody{width:100%;font-size:16px;text-align: center;}
#content06 table tbody tr{width:1280px;line-height: 60px;border-bottom:1px solid #ccc;display: table;font-size:16px;font-family:"NanumBarunGothicLight";}

    #content06 table tr th{width:200px;}
    #content06 table tr .jPart{width:600px;}
    #content06 table tr .jPerson{width:100px;}
    #content06 table tr .jadd{width:130px;}
    #content06 table tr .jcontact{width:130px;}
    #content06 table tr .jDate{width:100px;}

    #content06 table tbody tr .jPart{text-align: left;}

    #content06 table tbody tr:hover{background-color:#fff;}
