#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*
바디에 직접달았음
#containerWrap{width:1920px;height:2000px;margin:0 auto;
background-image:url("img/introduction_background.jpg");
background-repeat: no-repeat;}*/
#container{width: 1280px;margin:0 auto 100px;overflow: hidden;padding-bottom:500px;}
#intro_menuTree ul .menu04{text-decoration: underline;}

#rightPart{padding-top:40px;width:1080px;overflow: hidden;}

#map{width:100%;height:480px;border:1px solid #ccc;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
#map_detail{width:100%;overflow: hidden;margin-top:50px;}
#map_detail h4{width:100%;padding-bottom:10px;border-bottom:1px solid #000;font-size:18px;font-family:"NotoSansKR-Bold";color:#4F60E3;}
#map_detail ul{width:100%;overflow: hidden;margin-top:10px;}
#map_detail ul li{width:100%;overflow: hidden;margin-top:10px;}

#map_detail ul li .title{width:10%;height:100%;float:left;font-family:"NotoSansKR-Bold";}
#map_detail ul li .desc{width:90%;height:100%;float:left;color:#666;}
