#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*
바디에 직접달았음
#containerWrap{width:1920px;height:2000px;margin:0 auto;
background-image:url("img/introduction_background.jpg");
background-repeat: no-repeat;}*/
#container{width: 1280px;margin:0 auto;overflow: hidden;padding-bottom:500px;}
#intro_menuTree ul .subMenu01{text-decoration: underline;}

#rightPart{padding:0 60px;width:960px;overflow: hidden;}
#rightPart ul{width:1080px;overflow: hidden;padding-top:100px;}
#rightPart ul li{width:240px;height:550px;margin-right:120px;float: left;}
#rightPart ul li .partner{margin:0 auto;width:200px;height:125px;padding-top:75px;color:#4F60E3;border:1px solid #4F60E3;border-radius:120px;
font-family:"NotoSansKR-Medium";text-align: center;margin-bottom:40px;}
#rightPart ul li .partner01{height:200px;padding-top:0;line-height:200px;}
#rightPart ul li .desc{width:100%;line-height:30px;font-size:14px;color:#666;}
#rightPart ul li .date{width:100%;font-size:12px;color:#666;text-align: right;padding-top: 40px;}
