/*###################################   Header    ###################################*/
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*###################################   topmenuWrap    ###################################*/
#topmenuWrap{width:100%;overflow: hidden;border-bottom:1px solid #ccc;}
#topmenuWrap .topMenu{width:1000px;height:40px;line-height:40px;text-align:right;font-size:12px;margin: 0 auto;}
#topmenuWrap .topMenu li{display: inline-block;}
#topmenuWrap .topMenu .allworkHome{font-family:"NotoSansKR-Bold";}

/*###################################   loginWrap    ###################################*/
#loginWrap{width:100%;overflow:hidden;}
#loginArea{width:1000px;margin: 0 auto;}
#loginArea .logintext{width:500px;margin: 0 auto;text-align:center;padding-top: 100px;padding-bottom:50px;font-size:20px;line-height: 46px;color:#666;}
#loginArea .logintext h1{font-size:45px;font-family:"NotoSansKR-Bold";color:#4F60E3;}
#loginArea Form{width:500px;margin: 0 auto;}
#loginArea fieldset{width:100%;border:none;}
#loginArea legend{display:none;}
#loginArea .tab{width:100%;font-size:14px;}
#loginArea .tab span{display:inline-block;padding-right:10px;}
#loginArea .loginBox{width:100%;height:260px;}
#loginArea .loginBox p{width:498px;height:48px;border:1px solid #ccc;margin:10px 0;}
#loginArea .loginBox p input{display:block;width:100%;height:100%;border:none;background-color:#fff;text-indent:10px;}
#loginArea .loginBox p input::placeholder{color:#ccc;}
#loginArea .loginBox p.button{border:none;margin-bottom:0;}
#loginArea .loginBox p.button input{display:inline;;width:500px;height:50px;background-color:#4F60E3;color:#fff;font-size:18px;cursor:pointer;}

#loginArea .loginBox p.checkbox{width:50%;height:50px;text-align:left;border:none;float:left;}
#loginArea .loginBox p.checkbox input{display:inline;;width:20px;height:20px;vertical-align:bottom;}
#loginArea .loginBox p.checkbox label{font-size:12px;padding-left:10px;}
#loginArea .loginBox p.findArea{width:50%;height:50px;text-align:right;border:none;font-size:12px;float:left;}
#loginArea .loginBox p.findArea .register a{color:#4F60E3;font-family:"NotoSansKR-Bold";}

#loginArea .snsLogin{width:600px;height:36px;margin:0 auto 100px;text-align: center;}
#loginArea .snsLogin li{display:inline-block;height:36px;}
#loginArea .snsLogin li:last-child{margin-right:0;}

#loginArea .snsLogin li a{display:block;width:100%;height:100%;font-size:12px;}
#loginArea .snsLogin li a img{height:100%;vertical-align:middle;}

#loginArea .logintextsub{width:600px;margin: 0 auto;text-align:center;padding-top: 1px;padding-bottom:10px;font-size:20px;line-height: 46px;color:#666;}
#loginArea .logintextsub h4{font-size:14px;font-family:"NotoSansKR-Bold";color:#4F60E3;}
