body{background-color:#EDF0F5;font-family:"NotoSansKR-Regular";}


/*#####  현재페이지 메뉴  ###################################*/
#head .nav .nav01{background-color:#4F60E3;}
#head .nav .nav01 a{color:#fff;}
/*###################################   containerWrap  ###################################*/
#containerWrap{width:1000px;margin:20px auto 100px;overflow: hidden;}

/*현재페이지 언더라인  ###################################*/
/*	#menuTree ul .subMenu02{text-decoration: underline;}	*/

/*###################################   part03/상세검색  ###################################*/
#rightPart{width:790px;overflow: hidden;margin-left:10px;float:left;}

/*###################################   part02/검색  ###################################*/
#part02{width:790px;overflow: hidden;padding-top:20px;margin-bottom:10px;}
#part02 form{width:790px;height:70px;}
#part02 form fieldset{border:none;}
#part02 form fieldset legend{display: none;}
#part02 form fieldset div{width:100%;height:20px;margin-bottom:10px;}
#part02 form fieldset div input{width:16px;height:16px;}
#part02 form fieldset div label{font-size:14px;padding-left:10px;padding-right:20px;vertical-align:top;}
#part02 form fieldset p{float: left;width:230px;height:40px;background-color: #fff;border:1px solid #999;}
#part02 form fieldset p input{border:none;width:100%;height:100%;padding:10px;}
#part02 form fieldset p input::placeholder{color:#ccc;}
#part02 form fieldset p.btnBox{width:100px;height:40px;border:none;}
#part02 form fieldset p.btnBox input{width:100%;height:100%;background-color:#4F60E3;color:#fff;font-size:16px;cursor:pointer;}

  #recruitment{width:100%;overflow: hidden;}
  #recruitment h4{width:100%;height:25px;font-size:18px;margin:10px 0;}
  #recruitment #rec_row01{width:790px;overflow: hidden;text-indent:20px;line-height:50px;background-color:#fff;border:1px solid #ccc;}
/*###################################   part03/상세검색 탭  ###################################*/
  #recruitment #rec_row01 .tab{width:100%;height:50px;}
  #recruitment #rec_row01 .tab li{width:200px;height:48px;border-right:1px solid #ccc;float:left;background-color:#ddd;border-bottom:2px solid #000;}
            /* 직무별 탭 활성화 */#recruitment #rec_row01 .tab li:first-child{background-color:#000;}
  #recruitment #rec_row01 .tab a{display:block;width:100%;height:100%;color:#fff;}

/*###################################   part03/상세검색 내용 숨기기  ###################################*/
  #recruitment #rec_row01 .descArea{display:none;}
  #recruitment #rec_row01 .descArea{width:100%;height:288px;}
  #recruitment #rec_row01 .descArea ul{width:200px;height: 100%;float:left;border-right:1px solid #ccc;overflow: scroll;}
  #recruitment #rec_row01 .descArea ul li{width:100%;height:30px;}
  #recruitment #rec_row01 .descArea ul li input{display: block;width:100%;resize:none;height:30px;background-color:#fff;
                               text-align:left;text-indent:20px;line-height:30px;font-size:14px;
                               outline:none;
                               border:none;}

#recruitment #rec_row01 .tab li:last-child{width:188px;border-right:none;}
#recruitment #rec_row01 .descArea ul:last-child{width:188px;border:none;}

                  #recruitment #rec_row01 div ul li:hover input{color:#4F60E3;}
                  #recruitment #rec_row01 .tab li:hover{background-color:#000;}


/*###################################   서브항목 레이어  cateOn   ###################################*/
#recruitment #cateOn{width:790px;height:288px;float:left;background-color:#fff;}
#recruitment #cateOn ul{width:200px;height:100%;border-right:1px solid #ccc;float:left;overflow:scroll;}
#recruitment #cateOn ul li{width:100%;height:30px;}
#recruitment #cateOn ul li input{display: block;width:100%;height:30px;line-height: 30px;border:none;background-color:#fff;
                             text-align:left;text-indent:20px;font-size:14px;}

#recruitment #cateOn .select03{width:389px;}
#recruitment #cateOn .select03 li{width:129px;float:left;}

/*### 버튼 on
#recruitment #rec_row01 div ul li input.on{background-color:#eee;color:#4F60E3;}   ###*/

/*###################################  상세검색버튼  searchBox   ###################################*/
#rightPart #recruitment #searchBox{text-indent:0;width:790px;padding:20px;overflow: hidden;border-top:1px solid #ccc;background-color:#fff;}
#rightPart #recruitment #searchBox p{float:left;line-height:30px;}
#rightPart #recruitment #searchBox p.keywords{width:540px;overflow:hidden;}
#rightPart #recruitment #searchBox p.keywords span{margin:0;padding:0;display:inline-block;height:30px;line-height:30px;padding-right:10px;}
#rightPart #recruitment #searchBox p.keywords .fa-times{margin-left:2px;vertical-align: middle;font-size:12px;color:#666;}
#rightPart #recruitment #searchBox p.keywords input{display:inline-block;border:none;background-color:#fff;}
#rightPart #recruitment #searchBox p.reset{width:50px;line-height:30px;}
#rightPart #recruitment #searchBox p.reset a{font-size:12px;font-family:"NotoSansKR-Bold";color:#999;}
#rightPart #recruitment #searchBox p.goBtn{width:158px;}
#rightPart #recruitment #searchBox p.goBtn input{display:block;width:160px;height: 30px;border:none;background-color:#4F60E3;color:#fff;cursor:pointer;}


/*###################################   rec_listpart   ###################################*/
#rec_listPart01, #rec_listPart02, #rec_listPart03{width:790px;margin-top:40px;padding-bottom:30px;overflow: hidden;font-size: 14px;}

h4{width:50%;font-size:18px;float: left;}
h4 span{padding-left:5px;font-size:14px;font-family:"NotoSansKR-Light";}
.rec_align{width:50%;text-align: right;float: left;padding-top:10px;}
.rec_align li{display:inline-block;margin-bottom:10px;}
.rec_align li a{font-size:11px;}

/*###################################   listpart   ###################################*/
.list{width:100%;border-top:1px solid #999;background-color:#fff;overflow: hidden;border-collapse:collapse;table-layout: fixed;word-wrap: break-word;}
.list caption{display:none;}
.list thead{width:50%;box-shadow: 0 0 0 1px #000;}
.list thead tr{height:50px;}
.list thead tr .t_desc01{width:170px;}
.list thead tr .t_desc02{width:420px;}
.list thead tr .t_desc03{width:120px;}

.list tbody{width:100%;box-shadow: 0 0 0 1px #ccc;overflow:hidden;}
.list tbody tr{width:100%;font-size:14px;background-color:#fff;overflow:hidden;}
.list tbody .margin{width:100%;height:20px;}

.list tbody .desc01{text-align: center;}
.list tbody .desc02{width:420px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.list tbody .desc03{color:#4F60E3;text-align: center;}
.list tbody td span{font-size:12px;}
.list tbody .desc_title{padding-right:5px;}
.list tbody .desc_desc00{color:#666;}

.list td a:hover{text-decoration: underline;}

.numareaWrap{padding-bottom: 30px;border-top:1px solid #ccc;}
