body{background-color:#EDF0F5;font-family:"NotoSansKR-Regular";}


/*#####  현재페이지 메뉴  ###################################*/
#head .nav .nav01{background-color:#4F60E3;}
#head .nav .nav01 a{color:#fff;}
/*###################################   containerWrap  ###################################*/
  #containerWrap{width:1280px;margin: 20px auto 100px;overflow: hidden;}

  /*현재페이지 언더라인  ###################################*/
  #menuTree ul .subMenu01{text-decoration: underline;}

/*###################################   part03/상세검색  ###################################*/
#rightPart{width:1060px;overflow: hidden;margin-left:20px;float:left;}

  #recruitment{width:100%;overflow: hidden;}
  #recruitment h4{width:100%;font-size:18px;padding:20px 0 10px;}
  #recruitment #rec_row01{width:1058px;text-indent:20px;line-height:50px;background-color:#fff;border:1px solid #ccc;margin-bottom:20px;float:left;}
  #recruitment #rec_row01 dl{width:175px;border-right:1px solid #ccc;float:left;}
  #recruitment #rec_row01 dl dt{width:100%;height: 49px;background-color:#eee;border-bottom:1px solid #ccc;}
  #recruitment #rec_row01 dl dt a{display:block;width:100%;height:100%;color:#333;}
  #recruitment #rec_row01 dl dd{width:100%;height: 280px;overflow: scroll;}
  #recruitment #rec_row01 dl dd div{width:100%;height: 100%;}
  #recruitment #rec_row01 dl dd div ul{width:100%;height:100%;}
  #recruitment #rec_row01 dl dd div ul li{width:100%;height:30px;}
  #recruitment #rec_row01 dl dd div ul li input{display: block;width: 100%;height:30px;line-height: 30px;border:none;background-color:#fff;
                               text-align:left;text-indent:20px;font-size:14px;}

                              #recruitment #rec_row01 dl:last-child{width:178px;border:none;}

  /*###################################   rec_listpart   ###################################*/
  #rec_listPart01, #rec_listPart02, #rec_listPart03, #rec_listPart04{width:1060px;margin-top:40px;padding-bottom:30px;overflow: hidden;font-size: 14px;}
  #rec_titleArea01, #rec_titleArea02, #rec_titleArea03, #rec_titleArea04{width:100%;height:40px;}
  #rec_titleArea01 h4, #rec_titleArea02 h4, #rec_titleArea03 h4, #rec_titleArea04 h4{width:50%;font-size:18px;float: left;}
  #rec_titleArea01 .rec_align, #rec_titleArea02 .rec_align, #rec_titleArea03 .rec_align, #rec_titleArea04 .rec_align{width:50%;text-align: right;float: left;padding-top:10px;}
  #rec_titleArea01 .rec_align li, #rec_titleArea02 .rec_align li, #rec_titleArea03 .rec_align li, #rec_titleArea04 .rec_align li{display:inline-block;margin-bottom:10px;}
  #rec_titleArea01 .rec_align li a, #rec_titleArea02 .rec_align li a, #rec_titleArea03 .rec_align li a, #rec_titleArea04 .rec_align li a{font-size:11px;}

  .rec_title{width:1060px;height:40px;line-height: 40px;color:#333;text-align:center;background-color:#fff;border-bottom:2px solid #666;}
  .rec_title li{float:left;font-family:"NotoSansKR-Bold";}
  .rec_title li.desc01{width:200px;}
  .rec_title li.desc02{width:460px;}
  .rec_title li.desc03{width:60px;}
  .rec_title li.desc04{width:60px;}
  .rec_title li.desc05{width:80px;}
  .rec_title li.desc06{width:160px;}

  .rec_list{width:1060px;overflow: hidden;background-color:#fff;}
  .rec_list li{width:1058px;height:148px;border:1px solid #fff;border-bottom:1px solid #ccc;}
  .rec_list li a{display: block;width: 100%;height: 100%;overflow: hidden;}

          .rec_list li:hover{border:1px solid #4F60E3;}

  .rec_list li a .list_title{width:200px;height: 100%;line-height:150px;text-align:center;font-size: 16px;float:left;}
  .rec_list li a .desc1{width:458px;height:100%;float:left;padding-top:35px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  .rec_list li a .desc1 .desc11{width:100%;font-size: 16px;padding-bottom: 15px;float:left;}
  .rec_list li a .desc1 .desc12{width:100%;float:left;color:#666;}

  .rec_list li a .desc2{width:120px;height:100%;line-height:150px;float:left;text-align: center;}
  .rec_list li a .desc2 .desc21{width:60px;height:100%;float:left;color:#666;}
  .rec_list li a .desc2 .desc22{width:60px;height:100%;float:left;color:#666;}

  .rec_list li a .desc3{width:80px;height:100%;float:left;padding-top:55px;text-align: center;}

  .rec_list li a .deadline{width:120px;height:40px;margin:55px 20px;line-height:40px;text-align:center;float:left;font-size:14px;}
  .rec_list li a .deadline00{background-color: #4F60E3;color:#fff;}
  .rec_list li a .deadline01{background-color: #000;color:#fff;}
  .rec_list li a .deadline02{background-color: #E0F1FF;color:#333;}

  .numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
  .numArea{width:360px;height:30px;line-height:28px;padding-top:30px;padding-bottom:30px;text-align: center;margin:0 auto;}
  .numArea li{width:28px;height:28px;
    border:1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;}
  .numArea li a{color:#ccc;}

                .numArea li:hover{border: 1px solid #666;}
                .numArea li:hover a{color:#666;}

  .numArea .p01{border: 1px solid #666;}
  .numArea .p01 a{color:#666;}
