body{background: #EDF0F5;font-family:"NotoSansKR-Regular";}

/*###################################   containerWrap  ###################################*/
    #containerWrap{width:100%;overflow: hidden;}
    #container{width:1280px;overflow: hidden;margin:10px auto 80px;}

    #menuTree ul .menu05 .subMenu05_02{text-decoration: underline;}

/*###################################   res_rightPart   ###################################*/
#rightPart{width:1060px;height:100%;margin:20px 0 20px 20px;overflow: hidden;float:left;}

/*###############################   resume02  ###############################*/
#resume02{width:100%;overflow:hidden;margin-bottom:20px;background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
#resForm02{width:960px;background-color:#fff;padding:40px;}

  fieldset{border:none;}
  legend{width:100%;font-size:18px;padding-bottom:20px;
  border-bottom:1px solid #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
margin-bottom:34px;}

  caption{display:none;}
  tbody{width:100%;text-align:left;}
  tr{width:100%;font-size:16px;height:70px;}
  th{width:180px;text-indent:20px;font-family:"NotoSansKR-Medium";}

  td{width:800px;font-size:14px;padding-top:10px;}
  td input[type="button"]{width:120px;height:40px;padding:0 10px;text-align:center;font-size:16px;
                          background-color:#fff;
                          border:1px solid #999;vertical-align:top;margin-right:20px;}
  td input[type="text"]{width:800px;height:40px;background-color:#fff;border:1px solid #999;text-indent:10px;}
  td input::placeholder{color:#ccc;font-size:16px;}
  td input[type="checkbox"]{width:20px;height:20px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}
  td input[type="radio"]{width:20px;height:20px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}

  td span{display:inline-block;padding-right:20px;padding-bottom:10px;}
  td select{width:200px;height:42px;border:1px solid #999;font-size:16px;text-indent:10px;color:#666;vertical-align:top;}

  #rightPart ul{width:405px;margin:0 auto;}
  #rightPart ul li{width:198px;height:48px;margin-bottom:5px;margin-right:5px;text-align:center;line-height:50px;background-color:#fff;
    border:1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;}
  #rightPart ul li:last-child{margin-right:0px;}
  #rightPart ul li a{display:block;width:100%;height:100%;color:#666;}
  #rightPart ul li.reg_ok{background-color:#4F60E3;
    border:1px solid #4F60E3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
  #rightPart ul li.reg_ok a{color:#fff;}
