body{background: #EDF0F5;}

/*###################################   containerWrap  ###################################*/
    #containerWrap{width:100%;overflow: hidden;margin:20px 0 100px;}
    #container{width:1000px;margin:0 auto;}

    /*###################################   leftpart   ###################################*/
    /*###################################   좌측메뉴는 common.css   ###################################*/
        #menuTree ul .menu06 .subMenu06_02{text-decoration: underline;}

/*###################################   reg_rightPart   ###################################*/
    #rightPart{width:790px;height:100%;margin-left:10px;float:left;padding:40px;overflow:hidden;background-color:#fff;
      border:1px solid #ccc;}
    #rightPart h4{width:100%;height:30px;font-size:18px;}
    #rightPart .imgArea{margin-top:10px;width:100%;float:left;}
    #rightPart .imgArea img{width:100%;}
    #rightPart form{width:100%;padding-top:50px;margin-left:8px;float:left;}
    #rightPart fieldset{border:none;}
    #rightPart legend{display:inline-block;float:left;width:588px;font-size:16px;font-family:"NotoSansKR-Thin";padding-bottom:10px;}
    #rightPart .refund_btn{width:120px;height:26px;line-height:24px;text-align: center;float:left;border:1px solid #ccc;font-size:12px;}

            #rightPart .refund_btn:hover{border:1px solid #999;}

    #rightPart .allPart{width:798px;float:left;}
    #rightPart form .allPart h5{text-align: center;width:120px;height:120px;line-height:120px;font-size:16px;background-color:#EDF0F5;border:1px solid #999;border-right:0;float:left;}
    #rightPart form .allPart div{width:586px;height:120px;float:left;border:1px solid #999;}
    #rightPart form .allPart div p{padding-left:20px;width:100%;height:40px;line-height:40px;font-size:14px;border-bottom:1px solid #ccc;}
    #rightPart form .allPart div p:last-child{border-bottom:0px solid #ccc;}
    #rightPart form .allPart div p span{display: inline-block;padding:0;}
    #rightPart form .allPart div p .day{width:70px;}
    #rightPart form .allPart div p .fee{width:70px;}
    #rightPart form .allPart div p .desc{width:100px;font-size:12px;color:#999;}
    #rightPart form .apply{width:180px;height:40px;float:left;margin-top:10px;margin-left:530px;}
    #rightPart form .apply input{width:100%;height:100%;border:none;background-color:#4F60E3;color:#fff;}
