body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
  #containerWrap{width:100%;margin-bottom:40px;overflow: hidden;}

#container{width:1280px;margin:0 auto;}

#menuTree ul .menu02 ol{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:1060px;height:100%;margin-left:20px;margin-top:20px;float: left;background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

/*###################################   listpart   ###################################*/
#listPart{width:960px;margin:30px auto 0;overflow: hidden;font-size: 14px;}
#listPart h4{width:100%;height:50px;font-size:18px;}
#listPart .tab{width:100%;height:40px;padding-bottom:5px;border-bottom:1px solid #000;}
#listPart .tab li{width:180px;height:40px;line-height:38px;text-align:center; background-color: #eee;float:left;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}
#listPart .tab li a{display: block;width: 100%;height: 100%;color:#ccc;}

  #listPart .tab li:last-child{width:120px;margin-left:300px;border:1px solid #000;}
  #listPart .tab li:last-child a{background-color: #fff;color:#000;}

        #listPart .tab li:hover{border: 1px solid #999;}
        #listPart .tab li:hover a{color: #999;}

        #listPart .tab li:last-child:hover{border: 1px solid #000;}
        #listPart .tab li:last-child:hover a{color: #000;}

#listPart .tab li a.selected{background-color: #fff;color:#000;}

#listPart .apply_total{width:100%;height:30px;line-height:30px;font-size:12px;}
#listPart .apply_total span{font-family:"NotoSansKR-Bold";}

#listPart .list{width:100%;border-top:1px solid #999;overflow: hidden;}

#listPart .list li{width:100%;height:150px;border-bottom:1px solid #ccc;}
#listPart .list li div{float:left;line-height:150px;text-align: center;}
#listPart .list li div input{width:16px; height: 16px;}
#listPart .list li .desc00, #listPart .list li .desc02, #listPart .list li .desc03, #listPart .list li .desc04{width:120px;height:100%;}
#listPart .list li .desc01{width:480px;height:100px;text-align: left;line-height:24px;padding-top:50px;}

#listPart .list .list_title{width:100%;height:50px;background-color:#EDF0F5;}
#listPart .list .list_title div{float:left;line-height:50px;text-align: center;}
#listPart .list .list_title .desc00, #listPart .list .list_title .desc02, #listPart .list .list_title .desc03, #listPart .list .list_title .desc04{width:120px;height:100%;}
#listPart .list .list_title .desc01{width:480px;height:50px;text-align:center;line-height:50px;padding-top:0px;}

.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:30px;height:30px;line-height:28px;padding-top:30px;padding-bottom:30px;text-align: center;margin:0 auto;}
.numArea li{width:30px;height:30px;
  border:1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;}
.numArea li a{color:#ccc;}

              .numArea li:hover{border: 1px solid #666;}
              .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}
