body{font-family:"NotoSansKR-Regular";background-color:#}
/*###################################   containerWrap  ###################################*/
    #containerWrap{width:1000px;margin:0 auto;overflow: hidden;}
/*###################################   leftpart   ###################################*/
      #leftPart{width:200px;height:100%;float: left;}
      #myBox{width:100%;height:300px;background-color:#F4F8FC;overflow: hidden;}
      #myBox .imgArea{width:124px;height:124px;position: relative;margin: 50px auto 0;}
      #myBox .imgArea .myImg{width:100%;height:100%;border-radius:50%;margin: 0 auto;background-color: #fff;overflow: hidden;}
      #myBox .imgArea .myImg img{width:100%;}
      #myBox .imgArea .cameraBtn{width:34px; height:34px;border-radius:17px;line-height: 34px;background-color:#4F60E3;text-align: center;position: absolute;bottom: 0;right: 0;}
      #myBox .imgArea .fas{color: #fff;}

      #myBox p{width: 100%;text-align: center;}
      #myBox .myName{padding-top: 12px;padding-bottom:10px;font-size:16px;}
      #myBox .myDetail{width:100px;height: 30px;line-height: 29px;margin: 0 auto;border: 1px solid #4F60E3;font-size:14px;}
      #myBox .myDetail a{color:#4F60E3;}

        #myBox .myDetail:hover a{color:#000;}
        #myBox .myDetail:hover{border: 1px solid #000;}

      #menuTree{width:100%;height:100%;margin-top:20px;font-size:16px;}
      #menuTree ul{width:100%;font-size: 16px;text-indent:20px;}
      #menuTree ul .gnb{padding-top:10px;padding-bottom: 20px;}
      #menuTree ul .payService{height:84px;background-color: #FFCE00;}
      #menuTree ul .payService li a{color:#666;}
      #menuTree ol{width:100%;font-size: 14px;text-indent:40px;}
      #menuTree ol a{color:#666;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;}

/*###################################   reviewpart   ###################################*/
#reviewPart{width:790px;height:300px;overflow: hidden;}
#reviewPart ul{width:670px;height:154px;margin:100px auto 0;}
#reviewPart ul li{width:100px;overflow:hidden;text-align: center;float:left;margin-right:90px;}
        #reviewPart ul li:last-child{margin-right:0px;}

#reviewPart ul li a{display: block;width: 100%;height: 100%;}
#reviewPart ul li a strong{display: block;width:100px;height:100px;line-height:100px;margin-bottom:20px;border-radius:50px;font-size:30px;color:#999;background-color:#F4F8FC;}
#reviewPart ul li a span{display: block;width:100px;height:20px;font-size: 16px;color:#999;}

#reviewPart ul .review01 a strong{color:#4F60E3;}
#reviewPart ul .review01 a span{color:#4F60E3;}
#reviewPart ul .review01 a strong:hover{color:#000;}
#reviewPart ul .review01 a span:hover{color:#000;}

/*###################################   recommendpart 추천채용정보  ###################################*/
#recommendPart{width:100%;margin-top: 30px;overflow: hidden;}
#recommendPart h4{width:100%;padding-bottom:10px;}
#recommendPart ul{width:100%;height:140px;}
#recommendPart li{width:270px;height:140px;float:left;border: 1px solid #ccc;}
#recommendPart li:last-child{width:250px;}

      #recommendPart li:hover{border: 1px solid #666;}

#recommendPart li a{display: block;width:100%;height: 100%;}
#recommendPart ul li a .descBox{width:100%;height:100%;padding: 10%;}
#recommendPart ul li a span{font-size:12px;}

#recommendPart ul li a .desc01{width:100%;font-size: 14px;line-height:24px;padding-bottom:10px;float:left;}
#recommendPart ul li a .desc02{width:100%;font-size: 14px;height:40px;margin-bottom:6px;overflow:hidden;font-family:"NotoSansKR-Bold";float:left;}
#recommendPart ul li a .desc03{width:100%;font-size: 12px;font-family:"NotoSansKR-Light";float:left;}

/*###################################   listpart 탭부분   ###################################*/
#listPart{width:100%;margin-top: 30px;margin-bottom: 100px;overflow: hidden;font-size: 14px;}
#listPart .tab{width:100%;height:40px;border-bottom: 1px solid #ccc;}
#listPart .tab li{width:160px;height:40px;line-height:38px;text-align:center; background-color: #eee;float:left;border:1px solid #ccc;}
#listPart .tab li a{display: block;width: 100%;height: 100%;color:#ccc;}

        #listPart .tab li:hover{border: 1px solid #999;}
        #listPart .tab li:hover a{color: #999;}

#listPart .tab li a.selected{background-color: #fff;color:#000;}

.list{width:100%;border-top:1px solid #ccc;overflow: hidden;border-collapse:collapse;}
.list caption{display:none;}
.list thead{width:100%;border-collapse:collapse;}
.list tbody{width:100%;box-shadow: 0 0 0 1px #ccc;border-bottom:1px solid #ccc;}
.list tr{width:100%;font-size:14px;background-color:#fff;}

/*###################################   리스트 제목부분   ###################################*/
  .list .list_title th{height:50px;line-height: 50px;border-bottom: 1px solid #000;}
  .list .list_title .t_desc01{width:150px;}
  .list .list_title .t_desc02{width:440px;}
  .list .list_title .t_desc03{width:113px;}

  .list .desc td{border-top:1px solid #fff;}
  .list .desc02{padding-top:20px;}
  .list .desc2 td{padding-bottom:20px;}

  .list .desc .desc01{width:150px;text-align: center;}
  .list .desc .desc02{width:440px;}
  .list .desc .desc05{width:113px;text-align: center;color:#4F60E3;font-family:"NotoSansKR-Bold";}

  .list .desc .desc03{width:30px;color:#777;font-size:12px;font-family:"NotoSansKR-Medium";}
  .list .desc .desc04{width:120px;color:#777;font-size:12px;}
/*  #listPart .list .desc td{display: inline-block;}
  #listPart .list .desc01{width:120px;}
  #listPart .list .desc02{width:120px;}
  #listPart .list .desc03{width:120px;}
  #listPart .list .desc04{width:120px;}

  #listPart .list .desc .desc02{text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}*/


  .list td a:hover{text-decoration: underline;}
