body{font-family:"NotoSansKR-Regular";background-color:#EDF0F5;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;margin:20px 0 100px;overflow: hidden;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .menu02 ol{text-decoration: underline;}

/*###################################   rightpart   ###################################*/
#rightPart{width:790px;height:100%;margin-left:10px;float: left;background-color:#fff;border:1px solid #ccc;padding:40px;}

/*###################################   listpart   ###################################*/
#listPart{width:710px;margin:0 auto;overflow: hidden;font-size: 14px;}
#listPart h4{width:100%;height:50px;line-height:50px;font-size:18px;}
#listPart .tab{width:100%;height:40px;margin-bottom:5px;}
#listPart .tab li{width:140px;height:40px;line-height:38px;text-align:center; background-color: #eee;float:left;border:1px solid #ccc;}
#listPart .tab li a{display: block;width: 100%;height: 100%;color:#ccc;}

  #listPart .tab li:last-child{width:100px;margin-left:190px;border:1px solid #000;}
  #listPart .tab li:last-child a{background-color: #fff;color:#000;}

        #listPart .tab li:hover{border: 1px solid #999;}
        #listPart .tab li:hover a{color: #999;}

        #listPart .tab li:last-child:hover{border: 1px solid #000;}
        #listPart .tab li:last-child:hover a{color: #000;}

#listPart .tab li a.selected{background-color: #fff;color:#000;}

#listPart .apply_total{width:100%;height:30px;line-height:30px;font-size:12px;border-top:1px solid #000;}
#listPart .apply_total span{font-family:"NotoSansKR-Bold";}

/*###################################   리스트 내용먼저 잡음   ###################################*/
#listPart .list{width:100%;border-top:1px solid #999;overflow: hidden;}

#listPart .list li{width:100%;height:150px;border-bottom:1px solid #ccc;}
#listPart .list li div{float:left;line-height:150px;text-align: center;}
/*체크박스*/
#listPart .list li div input{width:16px; height: 16px;}
#listPart .list li .desc00{width:70px;}
#listPart .list li .desc02, #listPart .list li .desc03, #listPart .list li .desc04{width:110px;height:100%;}
#listPart .list li .desc01{width:310px;height:100px;text-align: left;line-height:24px;padding-top:37px;}
#listPart .list li .desc01 .title{font-size:12px;font-family:"NotoSansKR-Bold";}
#listPart .list li .desc01 .t_desc{width:100%;height:50px;overflow:hidden;}

          #listPart .list li .desc01 .title:hover{text-decoration:underline;}
          #listPart .list li .desc01 .t_desc:hover{text-decoration:underline;}
          #listPart .list li .desc02 .my_resume:hover{text-decoration:underline;}

/*###################################   리스트 타이틀  ###################################*/
#listPart .list .list_title{width:100%;height:50px;background-color:#EDF0F5;}
#listPart .list .list_title div{float:left;line-height:50px;text-align: center;}
#listPart .list .list_title .desc00{width:70px;}
#listPart .list .list_title .desc02, #listPart .list .list_title .desc03, #listPart .list .list_title .desc04{width:110px;height:100%;}
#listPart .list .list_title .desc01{width:310px;height:50px;text-align:center;line-height:50px;padding-top:0px;}

.numareaWrap{width:100%;overflow: hidden;background-color:#fff;}
.numArea{width:360px;height:30px;line-height:28px;padding-top:30px;padding-bottom:30px;text-align: center;margin:0 auto;}
.numArea li{width:30px;height:30px;border:1px solid #fff;float:left;}
.numArea li a{color:#ccc;}

              .numArea li:hover{border: 1px solid #ccc;}
              .numArea li:hover a{color:#666;}

.numArea .p01{border: 1px solid #666;}
.numArea .p01 a{color:#666;}
