/*###################################   Header    ###################################*/
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*###################################   registerWrap    ###################################*/
#registerWrap{width:100%;overflow:hidden;}
#registerArea{width:1000px;margin: 0 auto;}

#registerArea .registertext{width:100%;text-align: center;margin-top:100px;}
#registerArea .registertext h4{width:100%;font-size:34px;font-family:"NotoSansKR-Thin";}
#registerArea .registertext p{width:100%;font-size:18px;}
#registerArea .registertext p .bold{font-family:"NotoSansKR-Bold";}

#registerArea .tab{margin-top:70px;width:100%;height:79px;line-height:80px;background-color:#eee;border-bottom:1px solid #000;
                          text-indent:20px;font-size:18px;}
#registerArea .tab span{padding-right:30px;}
#registerArea .tab span input{width:16px;height:16px;vertical-align:middle;}
#registerArea .tab span label{vertical-align:middle;}

#registerArea .descBox{width:100%;overflow:hidden;margin-top:10px;}
#registerArea .descBox p{float:left;}
#registerArea .descBox .title{width:200px;height:240px;background-color:#EDF0F5;text-align: center;font-size:18px;font-family:"NotoSansKR-Thin";padding-top:80px;}
#registerArea .descBox .desc{width:300px;height:240px;padding-top:55px;padding-left:20px;font-size:16px;}
#registerArea .descBox .desc span{display: inline-block;width:100%;line-height:40px;}

#registerArea .registerBox01, #registerArea .registerBox02{width:100%;overflow: hidden;}
#registerArea .registerBox01 table, #registerArea .registerBox02 table{width:100%;border-top:2px solid #000;table-layout: fixed;word-wrap: break-word;}
#registerArea .registerBox01 caption, #registerArea .registerBox02 caption{width:100%;height:40px;line-height:50px;font-size:16px;text-align: left;}
#registerArea .registerBox01 caption span, #registerArea .registerBox02 caption span{padding-left:10px;font-size: 11px;color:#666;}
#registerArea .registerBox01 tbody, #registerArea .registerBox02 tbody{width:100%;overflow:hidden;}
tr{width:800px;height:40px;}
th{width:200px;height:100px;line-height:100px;background-color:#EDF0F5;
                                              text-align: right;padding-right:40px;font-family:"NotoSansKR-Thin";font-size:20px;color:#666;}
td{width:800px;height:100px;padding-left:20px;border-bottom:1px solid #eee;}
.necessary{color:red;padding-left:5px;}
.comment{padding-left:10px;font-size:12px;color:#4F60E3;vertical-align:bottom;}

select{border:1px solid #999;text-indent:10px;color:#666;vertical-align:top;width:200px;height:40px;}
input[type="text"]{width:300px;height:40px;}
input[type="submit"]{width:120px;height:40px;background-color:#43425D;color:#fff;border:none;vertical-align: middle;cursor:pointer;}
input[type="password"]{width:300px;height:40px;}
input[type="radio"]{width:20px;height:20px;vertical-align:middle;}


#registerArea .registerBox01 .companyPhone input, #registerArea .registerBox01 .companyPhone input{width:120px;}
#registerArea .registerBox01 .businessDesc{height:100px;}
#registerArea .registerBox01 .businessDesc input{width:520px;}
#registerArea .registerBox01 .companyPhone input, #registerArea .registerBox01 .companyFax input{width:120px;}
#registerArea .registerBox01 .email input, #registerArea .registerBox02 .email input{width:120px;}
#registerArea .registerBox01 .email select, #registerArea .registerBox02 .email select{width:200px;height:40px;}
#registerArea .registerBox01 .address{height:200px;}
#registerArea .registerBox01 .address p{width:100%;float: left;margin:2px 0;}
#registerArea .registerBox01 .address p input{width:760px;}
#registerArea .registerBox01 .address .postNumber input{width:120px;}
#registerArea .registerBox01 .logoArea .imgPart{background-color:#eee;width:120px;height:120px;text-align: center;line-height:120px;text-indent:0;margin-left:20px;}
#registerArea .registerBox01 .logoArea .imgPart img{width:100%;}
#registerArea .registerBox01 .logoArea .descPart{width:500px;height:100px;line-height:20px;padding-top: 20px;text-indent:0;margin-left:20px;font-size:12px;}
#registerArea .registerBox01 .comPhoto td{font-size:12px;}
#registerArea .registerBox01 .comPhoto .imgArea{width:100%;height:120px;margin-left:20px;}
#registerArea .registerBox01 .comPhoto .imgArea li{width:120px;height:120px;background-color:#eee;margin-right:2px;text-align: center;line-height:120px;text-indent: 0;float: left;}
#registerArea .registerBox01 .comPhoto .imgArea li img{width:100%;}
.upLoadArea{width:100%;overflow:hidden;padding-top: 10px;margin-left:20px;}
.upLoadArea li{text-indent: 0;line-height:30px;}
.upLoadArea li span{padding-left:5px;}
textarea{width:760px;height:100px;}
.history span{display:inline-block;font-size:14px;line-height: 24px;margin-left: 20px;text-indent:0;}

.mobile input, .phone input{width:120px;}

#registerArea .registerBox02 .birthday input{width:120px;}
#registerArea .registerBox02 .address{height:200px;}
#registerArea .registerBox02 .address p{width:100%;float: left;margin:2px 0;}
#registerArea .registerBox02 .address p input{width:760px;}
#registerArea .registerBox02 .address .postNumber input{width:120px;}
#registerArea .registerBox02 .phoneConfirm{height:200px;}
#registerArea .registerBox02 .phoneConfirm p{margin-bottom:5px;}
#registerArea .registerBox02 .phoneConfirm label{display: inline-block;width:110px;}
#registerArea .registerBox02 .phoneConfirm .ok{width:88px;border: 1px solid #aaa;background-color: #ccc;color:#000;margin-right:5px;}


#registerArea .confirm{width:100%;overflow: hidden;margin:10px 0;}
#registerArea .confirm ul{width:100%;height:175px;}
#registerArea .confirm ul li{width:500px;height:113px;border:1px solid #ccc;padding:30px 0; float: left;text-align: center;}
#registerArea .confirm ul li a{display:block;width:100%;height:100%;}
#registerArea .confirm ul li a .icons{font-size:22px;color:#000;}
#registerArea .confirm ul li a h4{font-size:22px;padding-bottom:20px;}
#registerArea .confirm ul li a p{color:#aaa;font-size:14px;}

              #registerArea .confirm ul li:hover{border:1px solid #000;}
              #registerArea .confirm ul li:hover a p{color:#000;}

#registerArea .agreement{margin-top:50px;color:#666;}
#registerArea .agreement .comment01{width:100%;height:40px;color:#666;border-bottom:2px solid #000;}
#registerArea .agreement ol{margin-top:10px;width:1000px;padding-bottom:10px;overflow:hidden;border-bottom:2px solid #000;}
#registerArea .agreement ol li{width:100%;}

#registerArea .agreement ol li span{display:block;padding-left:10px;}
#registerArea .agreement ol li.descArea{width:1000px;}
#registerArea .agreement ol li.descArea .desc{width:640px;height: 40px;float:left;}
#registerArea .agreement ol li.descArea .descBtn{width:360px;height: 40px;float: left;padding-right:20px;text-align: right;font-size: 14px;color:#4F60E3;line-height:50px;vertical-align:middle;}
#registerArea .agreement ol li input[type="checkbox"]{width:20px;height: 20px;height: 40px;vertical-align:middle;}
#registerArea .agreement ol li input[type="button"]{cursor: pointer;outline:0;width:60px;height:40px;line-height:40px;background-color:#fff;border:none;color:#4F60E3;cursor: pointer;}
#registerArea .agreement ol li label{vertical-align:middle;}
#registerArea .agreement ol li:first-child{border-bottom:1px solid #ccc;line-height:50px;height:60px;}

#registerArea .agreement ol li.descArea .descBtn:hover{color:#000;cursor:pointer;}

#registerArea .agreement ol li .agreeDesc{padding:30px;display:none;}
/*이용약관 부분*/
.agreeDesc01{background-color:#eee;width:100%;height:200px;overflow:scroll;padding:20px;font-size:13px;border:none;line-height:26px;}
.agreeDesc01 p{margin-bottom:20px;}
.agreeDesc01 .title{font-family:"NotoSansKR-Medium";}


/*개인정보 취급방침 부분*/
.agreeDesc02{background-color:#eee;width:100%;height:200px;overflow:scroll;padding:20px;font-size:13px;border:none;line-height:26px;}
.agreeDesc02 p{margin-bottom:20px;}
.agreeDesc02 .title{font-family:"NotoSansKR-Medium";}

.agreeDesc table{width:100%;border-collapse:collapse;border:1px solid #ccc;}
.agreeDesc caption{display:none;}
.agreeDesc thead{width:100%;background-color: #EDF0F5;}
.agreeDesc tr{width:100%;text-align: center;}
.agreeDesc th{border:1px solid #ccc;}
.agreeDesc .t00{width:180px;}
.agreeDesc .t01{width:170px;}
.agreeDesc .t02{width:160px;}
.agreeDesc .t03{width:160px;}

.agreeDesc .t04{width:170px;}
.agreeDesc .t05{width:300px;}
.agreeDesc .t06{width:240px;}

.agreeDesc td{border-right:1px solid #ccc;}
.agreeDesc .d02{text-align: left;text-indent:10px;}
.agreeDesc .d03{text-align: left;text-indent:10px;}

.agree_ok{width:100%;height:50px;margin-top:50px;margin-bottom:100px;}
.agree_ok ul{width:100%;height:50px;text-align: center;}
.agree_ok ul li{display:inline-block;width:200px;height:50px;margin-right:5px;line-height:50px;text-align: center;background-color:#eee;border:1px solid #ccc;}
.agree_ok ul li:last-child{width:200px;height:50px;margin-right:0;background-color:#4F60E3;border:1px solid #4F60E3;}
.agree_ok ul li a{display:block;width: 100%;height: 100%;}
.agree_ok ul li:last-child a{color:#fff;}
