/*###################################   Header    ###################################*/
#allworkWrap{width:100%;font-family:"NotoSansKR-Regular";}

/*###################################   registerWrap    ###################################*/
#registerWrap{width:100%;overflow:hidden;}
#registerArea{width:1000px;margin: 0 auto;}

#registerArea .registertext{width:100%;text-align: center;margin-top:100px;}
#registerArea .registertext h4{width:100%;font-size:34px;font-family:"NotoSansKR-Thin";}
#registerArea .registertext p{width:100%;font-size:18px;}
#registerArea .registertext p .bold{font-family:"NotoSansKR-Bold";}

#registerArea form{width:100%;overflow: hidden;margin-top:70px;}
#registerArea fieldset{border:none;}
#registerArea legend{display:none;}
#registerArea form .tab{width:100%;height:79px;line-height:80px;background-color:#eee;border-bottom:1px solid #000;
                          text-indent:20px;font-size:18px;}
#registerArea form .tab span{padding-right:30px;}
#registerArea form .tab span input{width:16px;height:16px;vertical-align:middle;}
#registerArea form .tab span label{vertical-align:middle;}

#registerArea form .descBox{width:100%;overflow:hidden;margin-top:10px;}
#registerArea form .descBox p{float:left;}
#registerArea form .descBox .title{width:200px;height:240px;background-color:#EDF0F5;text-align: center;font-size:18px;font-family:"NotoSansKR-Thin";padding-top:80px;}
#registerArea form .descBox .desc{width:300px;height:240px;padding-top:36px;padding-left:20px;font-size:16px;}
#registerArea form .descBox .desc span{display: inline-block;width:100%;line-height:40px;}

#registerArea .snsRegister{width:100%;height:200px;}
#registerArea .snsRegister p{width:200px;height:200px;line-height:200px;text-align: center;float:left;}
#registerArea .snsRegister ul{width:800px;height:120px;float:left;padding-top:80px;}
#registerArea .snsRegister li{width:260px;height:38px;border:1px solid #333;margin-right:10px;line-height:38px;text-align: center;float:left;}
#registerArea .snsRegister li:last-child{margin-right:0;}

            #registerArea .snsRegister li:hover{border:1px solid #ccc}

#registerArea .snsRegister li a{display:block;width:100%;height:100%;font-size:12px;}
#registerArea .snsRegister li a img{width:20px;vertical-align:middle;}

#registerArea .registerBox{width:100%;overflow: hidden;border-top:2px solid #000;}
#registerArea .registerBox table{width:100%;}
#registerArea .registerBox caption{display:none;}
#registerArea .registerBox tbody{width:100%;height:900px;}
#registerArea .registerBox tr{width:100%;height:100px;}
#registerArea .registerBox tr th{width:200px;height:100px;line-height:100px;background-color:#EDF0F5;
                                              text-align: right;padding-right:40px;font-family:"NotoSansKR-Thin";font-size:20px;color:#666;}
#registerArea .registerBox tr td{width:800px;height:100px;padding-left:20px;border-bottom:1px solid #eee;}
.necessary{color:red;padding-left:5px;}
.comment{padding-left:10px;font-size:12px;color:#4F60E3;vertical-align:bottom;}

select{border:1px solid #999;text-indent:10px;color:#666;vertical-align:top;width:300px;height:40px;}
input[type="text"]{width:300px;height:40px;}
input[type="submit"]{width:120px;height:42px;background-color:#43425D;color:#fff;border:none;}
input[type="password"]{width:300px;height:40px;}
#year, #month, #day{width:120px;vertical-align: bottom;}
input[type="radio"]{width:20px;height:20px;vertical-align:middle;}
#registerArea .registerBox .male{padding-right: 20px;}
#registerArea .registerBox .male label{padding-left:5px;vertical-align:middle;}
#registerArea .registerBox .female{padding-right: 20px;}
#registerArea .registerBox .female label{padding-left:5px;vertical-align:middle;}
#registerArea .registerBox .email input{width:200px;}
#registerArea .registerBox .email select{width:200px;height:42px;}
#registerArea .registerBox .phone{height:200px;}
#registerArea .registerBox .phone p{margin-bottom:5px;}
#registerArea .registerBox .phone label{display: inline-block;width:110px;}
#registerArea .registerBox .phone .ok{width:88px;border: 1px solid #aaa;background-color: #ccc;color:#000;margin-right:5px;}

#registerArea .agreement{margin-top:50px;color:#666;}
#registerArea .agreement .comment01{width:100%;height:40px;color:#666;border-bottom:2px solid #000;}
#registerArea .agreement ol{margin-top: 10px;width:1000px;padding-bottom:10px;overflow:hidden;border-bottom:2px solid #000;}
#registerArea .agreement ol li{width:100%;line-height:40px;height:40px;}
#registerArea .agreement ol li .agreeDesc01, #registerArea .agreement ol li .agreeDesc02{display:none;padding-top:10px;font-size:14px;line-height:20px;color:#666;}
#registerArea .agreement ol li span{display:block;padding-left:10px;}
#registerArea .agreement ol li.descArea{width:1000px;height: 40px;}
#registerArea .agreement ol li.descArea .desc{width:640px;height: 40px;float:left;}
#registerArea .agreement ol li.descArea .descBtn{width:360px;height: 40px;float: left;padding-right:20px;}
#registerArea .agreement ol li input[type="checkbox"]{width:20px;height: 20px;height: 40px;vertical-align:middle;}
#registerArea .agreement ol li input[type="button"]{cursor: pointer;outline:0;width:60px;height:40px;line-height:40px;background-color:#fff;border:none;color:#4F60E3;}
#registerArea .agreement ol li label{vertical-align:middle;}
#registerArea .agreement ol li:first-child{border-bottom:1px solid #ccc;line-height:50px;height:60px;}
.descBtn{text-align: right;font-size: 14px;color:#4F60E3;line-height:50px;vertical-align:middle;}

.agree_ok{width:100%;height:50px;margin-top:50px;margin-bottom:100px;}
.agree_ok ul{width:100%;height:50px;text-align: center;}
.agree_ok ul li{display:inline-block;width:200px;height:50px;margin-right:5px;line-height:50px;text-align: center;background-color:#eee;border:1px solid #ccc;}
.agree_ok ul li:last-child{width:200px;height:50px;margin-right:0;background-color:#4F60E3;border:1px solid #4F60E3;}
.agree_ok ul li a{width: 100%;height: 100%;}
.agree_ok ul li:last-child a{color:#fff;}
