body{background: #EDF0F5;font-family:"NotoSansKR-Regular";}
/*###################################   Header    ###################################*/
/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;overflow: hidden;margin:20px 0 100px;}
#container{width:1000px;margin:0 auto;}

/*현재메뉴 언더라인*/
#menuTree ul .menu01 .subMenu01_02{text-decoration: underline;}
/*###################################   leftpart   ###################################*/
/*###################################   res_leftPart 좌측메뉴 아래 등록완료 버튼  ###################################*/
   #leftPart_buttom{width:200px;margin-top:10px;}
    #leftPart_buttom ul{width:100%;}
    #leftPart_buttom ul li{width:200px;height:50px;margin-bottom:5px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;}
    #leftPart_buttom ul li a{display:block;width:100%;height:100%;color:#666;}
    #leftPart_buttom ul li.res_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #leftPart_buttom ul li.res_ok a{color:#fff;}

/*###################################   res_rightPart 페이지 마지막 등록완료 버튼  ###################################*/
    #rightPart{width:790px;height:100%;margin-left:10px;float:left;}

    #rightPart ul{width:100%;margin-top:20px;text-align:center;}
    #rightPart ul li{display:inline-block;width:200px;height:50px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;}
    #rightPart ul li:last-child{margin-right:0px;}
    #rightPart ul li a{display:block;width:100%;height:100%;color:#666;}
    #rightPart ul li.res_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #rightPart ul li.res_ok a{color:#fff;}

    fieldset{border:none;}
    legend{font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
    caption{display:none;}
    tbody{width:100%;text-align:left;border-collapse: collapse;}
    tr{width:100%;font-size:16px;}
    th{width:140px;font-family:"NotoSansKR-Medium";}
    th .necessary{padding-left:3px;color:red;}

    td{width:570px;font-size:14px;}
    td input[type="button"]{width:100px;height:42px;padding:0 10px;text-align:center;font-size:16px;
                            background-color:#fff;
                            border:1px solid #999;vertical-align:top;cursor:pointer;}
    td input[type="text"]{width:570px;height:40px;background-color:#fff;border:1px solid #999;text-indent:10px;}
    td input::placeholder{color:#ccc;text-indent:10px;}
    td input[type="checkbox"]{width:16px;height:16px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}
    td input[type="radio"]{width:16px;height:16px;vertical-align:bottom;margin-right:5px;border:1px solid #999;}

    td span{display:inline-block;padding-right:20px;padding-bottom:10px;}
    td select{width:120px;height:42px;border:1px solid #999;font-size:16px;text-indent:10px;color:#666;vertical-align:top;}
    td textarea{width:100%;height:80px;padding:10px;}
    td input[type="date"]{width:160px;height:40px;border:1px solid #999;font-size:14px;padding:0 10px;color:#666;}
    .comment{color:red;font-size:12px;}

    .moreTab{width:100%;height:80px;text-align:center;background-color:#fff;padding-right: 40px;padding-bottom:40px;}
    .moreTab input{width:20%;height:100%;border:1px solid #ccc;background-color:#fff;font-size:14px;cursor:pointer;}

    /*###############################   resume00 기본정보  ###############################*/
    #resume00{width:790px;margin-bottom:10px;padding:40px;overflow: hidden;background-color:#fff;border:1px solid #ccc;}

    #resume00 #detailArea{width:710px;float: left;}
    #resume00 #detailArea .detail_title{width:340px;height:32px;font-size:18px;float:left;}
    #resume00 #detailArea .personal_setting{width:110px;height:32px;line-height:28px;font-size:14px;margin-bottom:10px;margin-left:260px;text-align:center;border:1px solid #333;float:left;}


    #resume00 #imgPart{width:120px;margin-right:10px;height:200px;float: left;overflow:hidden;}
    #resume00 .imgArea{width:120px;margin-right:10px;height:140px;border:1px solid #ccc;overflow: hidden;}
    #resume00 .imgArea p{width:100%;background-color:#ccc;}
    #resume00 .imgArea p img{width:100%;}
    #resume00 .btnArea{width:100%;height:30px;font-size:14px;line-height:30px;text-align: center;margin-top:10px;}

    #resume00 input[type="file"]{position: absolute;
                                  width: 0;
                                  height: 0;
                                  padding: 0;
                                  overflow: hidden;
                                  border: 0;
                              }
  #resume00 label{
                      display: inline-block;
                      height:30px;
                      line-height:28px;
                      width:100%;
                      text-align: center;
                      color: #333;
                      vertical-align: top;
                      background-color: #fff;
                      cursor: pointer;
                      border: 1px solid #ccc;

                  }

    #resume00 label:hover{border:1px solid #000;color:#000;}

    #detailArea table{width:580px;border-bottom:1px solid #000;border-collapse: collapse;border-top:2px solid #000;}
    #detailArea caption{display:none;}
    #detailArea .tabelArea{width:100%;overflow: hidden;}
    #detailArea .tabelArea tr{line-height:30px;float:left;font-size:14px;overflow:hidden;border-bottom:1px solid #ccc;}
    #detailArea .tabelArea .table_title{width:120px;background-color:#808495;color:#fff;padding:5px 20px;}
    #detailArea .tabelArea .table_desc{width:460px;line-height:20px;padding:5px 20px;}

                  #detailArea .personal_setting:hover{background-color:#eee;}
                  #detailArea .tabelArea tr:last-child{border-bottom:none;}

    /*###############################   resume01 이력서 등록하기  ###############################*/
    #resume01{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm01{width:790px;background-color:#fff;padding:40px;}
    #resForm01 div{width:100%;}
    #resForm01 tr{height:80px;}

    /*###############################   resume02 희망구직 정보  ###############################*/
    #resume02{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm02{width:790px;background-color:#fff;padding:40px;}
    #resForm02 tr{height:80px;}
    #res02_desc01{width:570px;height:40px;}

    /*###############################   resume03 학력사항  ###############################*/
    #resume03{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm03{width:790px;background-color:#fff;padding:40px;}
    #resForm03 .final_education{width:710px;height:40px;display: table;background-color:#eee;}
    #resForm03 .final_education th{text-indent:40px;line-height:50px;font-size:14px;}
    #resForm03 .final_education td{padding-top:0;}
    #resForm03 .final_education select{height:40px;vertical-align:middle;margin:5px 0;}
    #resForm03 .education{width:980px;height:120px;}
    #resForm03 .education th{display:none;}
    #resForm03 .education span{padding:0;margin-bottom:5px;}
    #resForm03 #res03_desc02_3{width:40px;height:42px;background-color:#43425D;color:#fff;font-size:14px;padding:0;margin-right:0;}
    #resForm03 #res03_desc03_2{width:210px;}
    #resForm03 #res03_desc03_3{width:188px;}
    #resForm03 td input[type="date"]{height:42px;}
    #resForm03 input[type="text"]{width:400px;height:42px;}

    /*###############################   resume03 경력사항  ###############################*/
    #resume04{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm04{width:790px;background-color:#fff;padding:40px;}
    #resForm04 #res04_desc02_2{width:40px;height:42px;background-color:#43425D;color:#fff;font-size:14px;padding:0;margin-right:0;}

    #resForm04 .total_experience{width:710px;height:50px;display: table;background-color:#eee;}
    #resForm04 .total_experience th{text-indent:40px;line-height:50px;font-size:14px;}
    #resForm04 .total_experience td{padding-top:0;}
    #resForm04 .total_experience select{height:40px;vertical-align:middle;margin:5px 0;}
    #resForm04 .experience{width:980px;height:120px;}
    #resForm04 .experience th{display:none;}
    #resForm04 .experience span{padding:0;margin-bottom:5px;}

    #resForm04 td input[type="date"]{height:42px;}
    #resForm04 input[type="text"]{width:546px;height:42px;}
    #resForm04 input[type="checkbox"]{vertical-align:middle;}

    /*###############################   resume05 보유기술 삭제  ###############################*/

    /*###############################   resForm06  자격사항  ###############################*/
    #resume06{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm06{width:790px;background-color:#fff;padding:40px;}
    #resForm06 tr{height:80px;}
    #resForm06 th{display:none;}
    #resForm06 td{width:710px;}
    #resForm06 td p{height:60px;padding:0;float:left;}
    #resForm06 td span{display:inline;font-size:12px;font-family:"NotoSansKR-Medium";}
    #resForm06 td .part01{width:100%;overflow: hidden;margin-bottom:5px;}
    #resForm06 td .part01 input{padding:0 10px;width:200px;}
    #resForm06 td .part02{width:432px;overflow:hidden;}
    #resForm06 td .part02 select{display: inline-block;margin:0;height:40px;width:140px;}
    #resForm06 td .part03{width:274px;height:40px;}
    #resForm06 td .part03 input{width:100%;padding:0;}

    /*###############################   resForm07  외국어  ###############################*/
    #resume07{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm07{width:790px;background-color:#fff;padding:40px;}
    #resForm07 tr{height:80px;}
    #resForm07 th{display:none;}
    #resForm07 td{width:710px;}
    #resForm07 td p{height:60px;padding:0;float:left;}
    #resForm07 td span{display:inline;font-size:12px;font-family:"NotoSansKR-Medium";}
    #resForm07 td .part01{width:200px;overflow:hidden;margin-bottom:5px;}
    #resForm07 td .part01 input{padding:0 10px;width:100%;height:40px;}
    #resForm07 td .part02{width:376px;overflow:hidden;margin-bottom:5px;}
    #resForm07 td .part02 input{width:100%;height:40px;}
    #resForm07 td .part03{width:100px;overflow:hidden;margin-bottom:5px;}
    #resForm07 td .part03 select{width:100%;height:40px;}
    #resForm07 td .part04{width:200px;overflow:hidden;}
    #resForm07 td .part04 input{width:100%;}
    #resForm07 td .part05{width:80px;overflow:hidden;}
    #resForm07 td .part05 input{width:100%;}
    #resForm07 td .part06{width:90px;}
    #resForm07 td .part06 select{width:100%;height:40px;}
    #resForm07 td .part08{width:40px;height:40px;margin-top:20px;}
    #resForm07 td .part08 input{width:100%;height:100%;background-color:#43425D;color:#fff;font-size:14px;margin-right:0;}
    #resForm07 td p input{width:100%;padding:0;}
    #resForm07 select{width:100%;}

    /*###############################   resForm08   ###############################*/
    #resume08{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm08{width:790px;background-color:#fff;padding:40px;}
    #resForm08 legend span{font-size:16px;font-family:"NotoSansKR-Regular";}
    #resForm08 tr{height:80px;}
    #resForm08 th{display:none;}
    #resForm08 td{width:710px;}
    #resForm08 input[type="text"]{width:710px;}
    #resForm08 textarea{width:710px;}

    /*###############################   resForm09   ###############################*/
    #resume09{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm09{width:790px;background-color:#fff;padding:40px;}
    #resForm09 tr{height:80px;}
    #resForm09 th{display:none;}
    #resForm09 td{width:710px;}

/*    #resForm09 .file_btn{border:none;margin:0;padding:0;}
    #resForm09 input[type="file"]{position: absolute;
                                  width: 0;
                                  height: 0;
                                  padding: 0;
                                  overflow: hidden;
                                  border: 0;
                              }
  #resForm09 label {font-family:"NotoSansKR-Medium";
                      display: inline-block;
                      height: 40px;
                      line-height:40px;
                      width:108px;
                      text-align: center;
                      color: #fff;
                      vertical-align: middle;
                      background-color: #4F60E3;
                      cursor: pointer;

                  }
  #resForm09 #res09_desc01{

                      display: inline-block;
                      width:598px;
                      height: 40px;
                      font-size:16px;
                      color:#ccc;
                      padding: 0 10px;
                        vertical-align: middle;
                        background-color: #fff;
                      border: 1px solid #ccc;


                    }
*/