body{background: #EDF0F5;font-family:"NotoSansKR-Regular";}
/*###################################   Header    ###################################*/
#allworkWrap{width:100%;}

/*###################################   containerWrap  ###################################*/
#containerWrap{width:100%;overflow: hidden;margin:20px 0 100px;}
#container{width:1000px;margin:0 auto;}

/*###################################   leftpart   ###################################*/
/*현재메뉴 언더라인*/
/*	#menuTree ul .gnb01 .subMenu01{text-decoration: underline;}		*/

/*###################################   res_rightPart   ###################################*/
#rightPart{width:790px;overflow:hidden;margin-left:10px;float:left;}


table{border-collapse: collapse;border-top:2px solid #000;}
caption{text-align:left;font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
tbody{width:100%;text-align:left;border-collapse: collapse;}
tr{width:100%;font-size:16px;border-bottom:1px solid #ccc;}
th{width:140px;font-family:"NotoSansKR-Medium";background-color:#eee;padding:5px 20px;}
td{width:570px;font-size:14px;padding:5px 20px;}

/*###############################   resume00 기본정보  ###############################*/
#resume00{width:790px;margin-bottom:10px;padding:40px;overflow: hidden;background-color:#fff;border:1px solid #ccc;}

#resume00 #detailArea{width:710px;float: left;}
#resume00 #detailArea .detail_title{width:100%;height:32px;margin-bottom:10px;font-size:18px;float:left;}

#resume00 #imgArea{width:120px;margin-right:10px;height:140px;float: left;border:1px solid #ccc;overflow: hidden;}
#resume00 #imgArea p{width:100%;background-color:#ccc;}
#resume00 #imgArea p img{width:100%;}

#detailArea table{width:580px;border-bottom:1px solid #000;}
#detailArea caption{display:none;}
#detailArea .tabelArea{width:100%;overflow: hidden;}
#detailArea .tabelArea tr{line-height:30px;float:left;font-size:14px;overflow:hidden;border-bottom:1px solid #ccc;}
#detailArea .tabelArea .table_title{width:120px;background-color:#808495;color:#fff;}
#detailArea .tabelArea .table_desc{width:460px;line-height:20px;}

              #detailArea .personal_setting:hover{background-color:#eee;}
              #detailArea .tabelArea tr:last-child{border-bottom:none;}

    /*###############################   resume02  희망구직 정보 ###############################*/
    #resume02{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm02{width:790px;background-color:#fff;padding:40px;}
    #resForm02 tr{height:60px;}

    #resForm02 .workPlace p{width:160px;}


    /*###############################   resume03  학력사항   ###############################*/
    #resume03{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm03{width:790px;background-color:#fff;padding:40px;}
    #resForm03 h4{width:100%;text-align:left;font-size:24px;font-family:"NotoSansKR-Thin";}
    #resForm03 .final_education{font-size:14px;width:100%;height:40px;line-height:40px;text-align:right;}
    #resForm03 .final_education .edu_result{font-size:14px;display:inline-block;width:160px;height:40px;margin-left:20px;border:1px solid #000;text-align: center;}
    #resForm03 ul{width:100%;overflow: hidden;margin-top:10px;text-align: left;}
    #resForm03 ul li{width:100%;height:40px;line-height:40px;text-align: center;}
    #resForm03 ul .edu_title{background-color:#eee;}
    #resForm03 ul .edu_desc{background-color:#fff;border-bottom:1px solid #ccc;}
    #resForm03 ul li p{float:left;}
    /*
    #resForm03 ul li .edu_desc01{width:190px;}
    #resForm03 ul li .edu_desc02{width:280px;}
    #resForm03 ul li .edu_desc03{width:120px;}
    #resForm03 ul li .edu_desc04{width:120px;}
    */
    #resForm03 ul li .edu_desc01{width:160px;}
    #resForm03 ul li .edu_desc02{width:180px;}
    #resForm03 ul li .edu_desc03{width:160px;}
    #resForm03 ul li .edu_desc04{width:110px;}
    #resForm03 ul li .edu_desc05{width:100px;}

    /*###############################   resume03  경력사항  ###############################*/
    #resume04{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm04{width:790px;background-color:#fff;padding:40px;}
    #resForm04 h4{width:100%;text-align:left;font-size:24px;font-family:"NotoSansKR-Thin";}
    #resForm04 .final_education{font-size:14px;width:100%;height:40px;line-height:40px;text-align:right;}
    #resForm04 .final_education .edu_result{font-size:14px;display: inline-block;width:160px;height:40px;margin-left:20px;border:1px solid #000;text-align: center;}
    #resForm04 ul{width:100%;overflow: hidden;margin-top:10px;text-align: left;}
    #resForm04 ul li{width:100%;height:40px;line-height:40px;text-align: center;}
    #resForm04 ul .edu_title{background-color:#eee;}
    #resForm04 ul .edu_desc{background-color:#fff;border-bottom:1px solid #ccc;}
    #resForm04 ul li p{float:left;}
    #resForm04 ul li .edu_desc01{width:200px;}
    #resForm04 ul li .edu_desc02{width:130px;}
    #resForm04 ul li .edu_desc03{width:380px;}

    /*###############################   resume05 보유기술 ###############################*/
    #resume05{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm05{width:790px;background-color:#fff;padding:40px;}
    #resForm05 h4{width:100%;text-align:left;font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
    #resForm05 p{width:100%;overflow: hidden;}

    /*###############################   resForm06 자격사항  ###############################*/
    #resume06{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm06{width:790px;background-color:#fff;padding:40px;}
    #resForm06 h4{width:100%;text-align:left;font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
    #resForm06 ul{width:100%;overflow: hidden;margin-top:10px;text-align: left;}
    #resForm06 ul li{width:100%;height:40px;line-height:40px;text-align: center;}
    #resForm06 ul .edu_title{background-color:#eee;}
    #resForm06 ul .edu_desc{background-color:#fff;border-bottom:1px solid #ccc;}
    #resForm06 ul li p{float:left;}
    #resForm06 ul li .edu_desc01{width:200px;}
    #resForm06 ul li .edu_desc02{width:130px;}
    #resForm06 ul li .edu_desc03{width:380px;}

    /*###############################   resForm07 외국어  ###############################*/
    #resume07{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm07{width:790px;background-color:#fff;padding:40px;}
    #resForm07 h4{width:100%;text-align:left;font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
    #resForm07 ul{width:100%;overflow: hidden;margin-top:10px;text-align: left;}
    #resForm07 ul li{width:100%;height:40px;line-height:40px;text-align: center;}
    #resForm07 ul .edu_title{background-color:#eee;}
    #resForm07 ul .edu_desc{background-color:#fff;border-bottom:1px solid #ccc;}
    #resForm07 ul li p{float:left;}
    #resForm07 ul li .edu_desc01{width:110px;}
    #resForm07 ul li .edu_desc02{width:280px;}
    #resForm07 ul li .edu_desc03{width:80px;}
    #resForm07 ul li .edu_desc04{width:80px;}
    #resForm07 ul li .edu_desc05{width:160px;}

    /*###############################   resForm08   ###############################*/
    #resume08{width:100%;overflow:hidden;margin-bottom:10px;border:1px solid #ccc;}
    #resForm08{width:790px;background-color:#fff;padding:40px;}
    #resForm08 h4{width:100%;text-align:left;font-size:24px;padding-bottom:20px;font-family:"NotoSansKR-Thin";}
    #resForm08 p{width:100%;overflow: hidden;}

    /*###############################   면접제의 버튼   ###############################*/
    #rightPart .buttons{width:100%;margin-top:20px;text-align:center;}
    #rightPart .buttons li{display:inline-block;width:160px;height:50px;text-align:center;line-height:50px;background-color:#fff;border:1px solid #ccc;}
    #rightPart .buttons li:first-child{width:180px;margin-right:20px;background-color:#43425D;}
    #rightPart .buttons li:first-child a{color:#fff;}
    #rightPart .buttons li:last-child{margin-right:0px;}
    #rightPart .buttons li a{display: block;width:100%;height:100%;color:#666;}
    #rightPart .buttons li.res_ok{background-color:#4F60E3;border:1px solid #4F60E3;}
    #rightPart .buttons li.res_ok a{color:#fff;}

    #rightPart .buttons li:first-child:hover{background-color:#000;}
