<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="utf-8"/>
  <title> 회원탈퇴 </title>
  <link rel="stylesheet" type="text/css" href="css/header_personal.css"/>
  <link rel="stylesheet" type="text/css" href="css/widthdrawal.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
  <link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/font.css"/>
  <link rel="stylesheet" type="text/css" href="css/reset.css"/>
  <link  rel="stylesheet" type="text/css" href="css/all.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/jquery-1.12.4.js"></script>
	<script src="js/jquery-ui.min.js"></script>
  <script src="js/common.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  <style></style>
  </head>
  <body>
  <div id="allworkWrap">
    <div id="headerWrap">
      <div id="topWrap">
        <ul class="topMenu">
          <li><a href="#" title="로그인">고객센터&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</a></li>
          <li><a href="#" title="회원가입">로그아웃</a></li>
        </ul>
      </div>
      <div id="head">
        <div id="header">
          <h1><a href="index.html" title="allwork사이트">Allwork</a></h1>
          <ul class="nav">
            <li><a href="#none" title="전체메뉴보기"><i class="fas fa-bars"></i></a></li>
            <li><a href="personal_01.html" title="채용정보">채용정보</a></li>
            <li><a href="#none" title="헤드헌팅">헤드헌팅</a></li>
            <li><a href="#none" title="채용진행현황">채용진행현황</a></li>
            <li><a href="#none" title="커뮤니티">커뮤니티</a></li>
          </ul>
          <ul class="linkArea">
            <li class="a01"><span>홍길동님&nbsp;&nbsp;&nbsp;</span><a href="#" title="이력서 관리>">이력서 관리></a></li>
            <li class="a02"><a href="#" title="기업회원 로그인"><span class ="fas fa-user-check"></span></a></li>
          </ul>
        </div>
      </div>
      <div id="allMenuWrap">
        <div id="allMenu">
          <p class="close"><a href="#" title="채용정보"><i class="fas fa-times"></i></a></p>
          <div class="sitemapArea">
            <div>
              <h4>채용정보</h4>
              <ul>
                <li class="sitemap_depth01">
                  <a href="#" title="채용정보">채용정보</a>
                    <ul class="sub">
                      <li class="sitemap_depth02"><a href="#" title="상세검색">상세검색</a></li>
                      <li class="sitemap_depth02"><a href="#" title="직무별">직무별</a></li>
                      <li class="sitemap_depth02"><a href="#" title="산업별">산업별</a></li>
                      <li class="sitemap_depth02"><a href="#" title="지역별">지역별</a></li>
                    </ul>
                </li>
                <li class="sitemap_depth01"><a href="#" title="프리랜서">프리랜서</a></li>
                <li class="sitemap_depth01"><a href="#" title="알바채용">알바채용</a></li>
                <li class="sitemap_depth01"><a href="#" title="기타채용정보">기타채용정보</a></li>
              </ul>
            </div>
            <div>
              <h4>헤드헌팅</h4>
              <ul>
                <li class="sitemap_depth01"><a href="#" title="채용정보">채용정보</a></li>
                <li class="sitemap_depth01"><a href="#" title="채용정보">화상면접</a></li>
              </ul>
            </div>
            <div>
              <h4>채용진행현황</h4>
              <ul>
                <li class="sitemap_depth01"><a href="#" title="면접진행">면접진행</a></li>
                <li class="sitemap_depth01"><a href="#" title="기업방문">기업방문</a></li>
                <li class="sitemap_depth01"><a href="#" title="이력서제공">이력서제공</a></li>
                <li class="sitemap_depth01"><a href="#" title="재취업성공">재취업성공</a></li>
                <li class="sitemap_depth01"><a href="#" title="사전면접">사전면접</a></li>
              </ul>
            </div>
            <div>
              <h4>커뮤니티</h4>
              <ul>
                <li class="menu menu01"><a href="#" title="공지사항">공지사항</a></li>
                <li class="menu menu02"><a href="#" title="게시판">게시판</a></li>
                <li class="menu menu03"><a href="#" title="FAQ">FAQ</a></li>
                <li class="menu menu04"><a href="#" title="이용안내">이용안내</a>
                    <ul class="sub">
                      <li><a href="#" title="유료채용광고 문의">유료채용광고 문의</a></li>
                    </ul>
                </li>
                <li class="menu menu05"><a href="#" title="이용약관">이용약관</a></li>
                <li class="menu menu06"><a href="#" title="개인정보 취급방침">개인정보 취급방침</a></li>
                <li class="menu menu07"><a href="#" title="불편 및 신고상황 접수">불편 및 신고상황 접수</a></li>
                <li class="menu menu08"><a href="#" title="모바일 서비스">모바일 서비스</a></li>
                <li class="menu menu09"><a href="#" title="자료실">자료실</a></li>
              </ul>
            </div>
          </div>
          <p class="allMenu_ect">
            <span><a href="#" title="고객센터">고객센터</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span><a href="#" title="회사소개">회사소개</a></span>
          </p>
        </div>
      </div>
    </div>
    <div id="containerWrap">
      <div id="container">
        <div id="leftPart">
            <div id="menuTree">
              <p class="settingBtn"><a href="personal_home.html" title="개인회원 홈">개인회원 홈</a></p>
              <ul>
                <li class="menu menu01"><a href="#" title="이력서관리">이력서관리</a>
                  <h3>이력서관리</h3>
                    <ol class="subMenu subMenu01">
                      <li class="subMenu01_01"><a href="#" title="이력서등록">이력서등록</a></li>
                      <li class="subMenu01_02"><a href="#" title="이력서수정">이력서수정</a></li>
                    </ol>
                </li>
                <li class="menu menu02"><a href="#" title="입사지원관리">입사지원관리</a>
                  <h3>입사지원관리</h3>
                    <ol class="subMenu subMenu02">
                      <li class="subMenu02_01"><a href="#" title="입사지원현황">입사지원현황</a></li>
                    </ol>
                </li>
                <li class="menu menu03"><a href="#" title="스크랩/관심기업">스크랩/관심기업</a>
                  <h3>스크랩/관심기업</h3>
                    <ol class="subMenu subMenu03">
                      <li class="subMenu03_01"><a href="#" title="스크랩">스크랩</a></li>
                      <li class="subMenu03_02"><a href="#" title="관심기업">관심기업</a></li>
                      <li class="subMenu03_03"><a href="#" title="면접요청기업">면접요청기업</a></li>
                    </ol>
                </li>
                <li class="menu menu04"><a href="#" title="내가 확인한 채용정보">내가 확인한 채용정보</a></li>
                <li class="menu menu05"><a href="#" title="맞춤서비스관리">맞춤서비스관리</a>
                  <h3>맞춤서비스관리</h3>
                    <ol class="subMenu subMenu05">
                      <li class="subMenu05_01"><a href="#" title="맞춤채용정보">맞춤채용정보</a></li>
                      <li class="subMenu05_02"><a href="#" title="맞춤서비스설정">맞춤서비스설정</a></li>
                    </ol>
                </li>
                <li class="menu menu06"><a href="#" title="유료서비스">유료서비스</a>
                  <h3>유료서비스</h3>
                    <ol class="subMenu subMenu06">
                      <li class="subMenu06_01"><a href="#" title="결제내역조회">결제내역조회</a></li>
                      <li class="subMenu06_02"><a href="#" title="유료옵션서비스 신청">유료옵션서비스 신청</a></li>
                    </ol>
                </li>
                <li class="menu menu07"><a href="#" title="회원정보관리">회원정보관리</a>
                  <h3>회원정보관리</h3>
                    <ol class="subMenu subMenu07">
                      <li class="subMenu07_01"><a href="#" title="회원정보수정">회원정보수정</a></li>
                      <li class="subMenu07_02"><a href="#" title="회원탈퇴">회원탈퇴</a></li>
                    </ol>
                </li>
              </ul>
            </div>
          </div>
        <div id="rightPart">
          <h4>회원탈퇴</h4>
          <p>
            그동안 저희 40세 이상 무료구인구직 사이트 - 올워크 이용해주셔서 감사합니다.<br/>
            고객님께서 회원탈퇴를 하신다니 무척 안타깝습니다!<br/>
            보다 나은 서비스를 위해 그동안 불편하셨던 점이나 불만사항을 알려주시면 적극 반영하여 향후 개선하도록 하겠습니다.
          </p>
          <form action="#none" method="post">
  					<fieldset>
  						<legend>회원가입</legend>
              <div class="registerBox">
                <table>
                  <caption>모집요강</caption>
                  <tbody>
                    <tr>
                      <th>이름</th>
                      <td>홍길동</td>
    						    </tr>
                    <tr>
                      <th>아이디</th>
  						        <td>test1  </td>
        						</tr>
                    <tr>
                      <th>비밀번호</th>
        							<td>
                        <input id="userpass" type="password" name="userpass" title="비밀번호"/>
                      </td>
        						</tr>
                    <tr>
                      <th>비밀번호 확인</th>
        							<td>
                        <input id="userpass01" type="password" name="userpass01" title="비밀번호확"/>
                        <span class="comment">비밀번호 재입력</span>
                      </td>
        						</tr>
                    <tr class="message">
                      <th>남기고 싶은 말</th>
        							<td>
                        <textarea></textarea>
                      </td>
        						</tr>
                  </tbody>
                </table>
              </div>
  					</fieldset>
  				</form>
          <div class="agree_ok">
            <ul>
              <li><a href="#none" title="취소">취소</a></li>
              <li><a href="#none" title="탈퇴하기">탈퇴하기</a></li>
            </ul>
          </div>
    		</div>
	     </div>
      </div>
      <div id="footerWrap">
  			<div id="footer">
  				<h2>Allwork정보 및 이용약관</h2>
          <p class="footLogo">Allwork</p>
          <div id="copyArea">
    				<ul class="menuArea">
    					<li><a href="#" title="회사소개">회사소개</a></li>
    					<li><a href="#" title="고객센터">고객센터</a></li>
    					<li><a href="#" title="개인정보처리방침">개인정보처리방침</a></li>
    					<li><a href="#" title="사이트맵">사이트맵</a></li>
    				</ul>
            <ul class="linkArea">
              <li><a href="#" title="인스타페이지"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" title="유투브페이지"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#" title="페이스북페이지"><i class="fab fa-facebook"></i></a></li>
            </ul>
						<div class="address">
							<span>상호 : (주)올워크 | 직업정보제공사업등록번호 : 서울청 제2019-2호 | 대표이사 : 김봉갑 | 평일 : am 09:00 ~ pm 06:00 | 토요일, 일요일, 공휴일 휴무</span><br/>
							<span>E-mail : mail@allwork.co.kr Tel. 02-585-0108 | 주소 : 06640 서울특별시 서초구 서초중앙로 52 (서초동, 영진빌딩) 3층</span><br/>
							<span>Copyright ⓒ allwork.co.kr all rights reserved.</span>
						</div>
          </div>
  			</div>
  		</div>
    </div>
  </body>
</html>
